In [48]:
import pandas as pd

In [49]:
df = pd.read_csv('/Users/rahul/Desktop/F1 Project 2/DF_Merging/Final_Dataset.csv')
pd.set_option('display.max_columns', None)
df.head(10)

,driverId,raceId,circuit_location,circuit_country,grid_position,results_position,results_points,results_laps,driver_nationality,driver_home,driver_age_atrace,constructor_name,constructor_home,status,qual_position,q1,q2,q3,lap_tm_(lap),lap_tm_position,lap_time,total_pit_stops,weather_conditions
0,3,948,Melbourne,Australia,2,1,25.0,57,German,Germany,32,Mercedes,Germany,Finished,2.0,86.934,84.796,84.197,1.0,3.0,99.316,2,Overcast
1,3,948,Melbourne,Australia,2,1,25.0,57,German,Germany,32,Mercedes,Germany,Finished,2.0,86.934,84.796,84.197,2.0,3.0,92.037,2,Overcast
2,3,948,Melbourne,Australia,2,1,25.0,57,German,Germany,32,Mercedes,Germany,Finished,2.0,86.934,84.796,84.197,3.0,3.0,92.747,2,Overcast
3,3,948,Melbourne,Australia,2,1,25.0,57,German,Germany,32,Mercedes,Germany,Finished,2.0,86.934,84.796,84.197,4.0,3.0,92.141,2,Overcast
4,3,948,Melbourne,Australia,2,1,25.0,57,German,Germany,32,Mercedes,Germany,Finished,2.0,86.934,84.796,84.197,5.0,3.0,91.575,2,Overcast
5,3,948,Melbourne,Australia,2,1,25.0,57,German,Germany,32,Mercedes,Germany,Finished,2.0,86.934,84.796,84.197,6.0,3.0,92.468,2,Overcast
6,3,948,Melbourne,Australia,2,1,25.0,57,German,Germany,32,Mercedes,Germany,Finished,2.0,86.934,84.796,84.197,7.0,3.0,92.464,2,Overcast
7,3,948,Melbourne,Australia,2,1,25.0,57,German,Germany,32,Mercedes,Germany,Finished,2.0,86.934,84.796,84.197,8.0,3.0,92.625,2,Overcast
8,3,948,Melbourne,Australia,2,1,25.0,57,German,Germany,32,Mercedes,Germany,Finished,2.0,86.934,84.796,84.197,9.0,3.0,92.557,2,Overcast
9,3,948,Melbourne,Australia,2,1,25.0,57,German,Germany,32,Mercedes,Germany,Finished,2.0,86.934,84.796,84.197,10.0,3.0,92.581,2,Overcast

In [50]:
df.rename(columns={
    'lap_tm_(lap)': 'lap',
    'lap_tm_position': 'position_at_given_lap',
    'results_laps': 'total_laps',
    'lap_time': 'lap_time_for_current_lap'
}, inplace=True)

df.head()

,driverId,raceId,circuit_location,circuit_country,grid_position,results_position,results_points,total_laps,driver_nationality,driver_home,driver_age_atrace,constructor_name,constructor_home,status,qual_position,q1,q2,q3,lap,position_at_given_lap,lap_time_for_current_lap,total_pit_stops,weather_conditions
0,3,948,Melbourne,Australia,2,1,25.0,57,German,Germany,32,Mercedes,Germany,Finished,2.0,86.934,84.796,84.197,1.0,3.0,99.316,2,Overcast
1,3,948,Melbourne,Australia,2,1,25.0,57,German,Germany,32,Mercedes,Germany,Finished,2.0,86.934,84.796,84.197,2.0,3.0,92.037,2,Overcast
2,3,948,Melbourne,Australia,2,1,25.0,57,German,Germany,32,Mercedes,Germany,Finished,2.0,86.934,84.796,84.197,3.0,3.0,92.747,2,Overcast
3,3,948,Melbourne,Australia,2,1,25.0,57,German,Germany,32,Mercedes,Germany,Finished,2.0,86.934,84.796,84.197,4.0,3.0,92.141,2,Overcast
4,3,948,Melbourne,Australia,2,1,25.0,57,German,Germany,32,Mercedes,Germany,Finished,2.0,86.934,84.796,84.197,5.0,3.0,91.575,2,Overcast

In [51]:
df.dtypes

driverId                      int64
raceId                        int64
circuit_location             object
circuit_country              object
grid_position                 int64
results_position              int64
results_points              float64
total_laps                    int64
driver_nationality           object
driver_home                  object
driver_age_atrace             int64
constructor_name             object
constructor_home             object
status                       object
qual_position               float64
q1                          float64
q2                          float64
q3                          float64
lap                         float64
position_at_given_lap       float64
lap_time_for_current_lap    float64
total_pit_stops               int64
weather_conditions           object
dtype: object

In [52]:
#df['qual_position'] = df['qual_position'].astype(int)
#df['lap'] = df['lap'].astype(int)
#df['position_at_given_lap'] = df['position_at_given_lap'].astype(int)
#df.head()

In [53]:
unique_values = df.apply(lambda x: x.unique())

# Display the unique values
print(unique_values)

driverId                    [3, 1, 20, 817, 13, 154, 807, 822, 832, 830, 8...
raceId                      [948, 949, 950, 951, 952, 953, 954, 955, 956, ...
circuit_location            [Melbourne, Sakhir, Shanghai, Sochi, Montmel√≥,...
circuit_country             [Australia, Bahrain, China, Russia, Spain, Mon...
grid_position               [2, 1, 3, 8, 6, 19, 10, 16, 7, 5, 13, 14, 9, 1...
results_position            [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...
results_points              [25.0, 18.0, 15.0, 12.0, 10.0, 8.0, 6.0, 4.0, ...
total_laps                  [57, 56, 38, 21, 17, 16, 29, 9, 55, 53, 52, 51...
driver_nationality          [German, British, Australian, Brazilian, Frenc...
driver_home                 [Germany, UK, Australia, Brazil, France, Finla...
driver_age_atrace           [32, 30, 28, 36, 31, 23, 20, 26, 24, 27, 37, 2...
constructor_name            [Mercedes, Ferrari, Red Bull, Williams, Haas F...
constructor_home            [Germany, Italy, Austria, UK, USA, India, Fran...
status                      [Finished, +1 Lap, Engine, Mechanical, Collisi...
qual_position               [2.0, 1.0, 3.0, 8.0, 6.0, 19.0, 10.0, 11.0, 7....
q1                          [86.934, 85.351, 86.945, 85.918, 88.322, 86.55...
q2                          [84.796, 84.605, 85.257, 85.599, 85.644, 0.0, ...
q3                          [84.197, 83.837, 84.675, 85.589, 85.458, 0.0, ...
lap                         [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, ...
position_at_given_lap       [3.0, 5.0, 4.0, 2.0, 1.0, 6.0, 7.0, 9.0, 8.0, ...
lap_time_for_current_lap    [99.316, 92.037, 92.747, 92.141, 91.575, 92.46...
total_pit_stops                                            [2, 3, 1, 4, 5, 6]
weather_conditions                                [Overcast, Dry, Sunny, Wet]
dtype: object

In [54]:
df.shape

(166870, 23)

In [55]:
df.columns

Index(['driverId', 'raceId', 'circuit_location', 'circuit_country',
       'grid_position', 'results_position', 'results_points', 'total_laps',
       'driver_nationality', 'driver_home', 'driver_age_atrace',
       'constructor_name', 'constructor_home', 'status', 'qual_position', 'q1',
       'q2', 'q3', 'lap', 'position_at_given_lap', 'lap_time_for_current_lap',
       'total_pit_stops', 'weather_conditions'],
      dtype='object')

In [56]:
df.isna().sum()

driverId                        0
raceId                          0
circuit_location                0
circuit_country                 0
grid_position                   0
results_position                0
results_points                  0
total_laps                      0
driver_nationality              0
driver_home                     0
driver_age_atrace               0
constructor_name                0
constructor_home                0
status                          0
qual_position                 499
q1                            939
q2                           8273
q3                          16844
lap                             0
position_at_given_lap           0
lap_time_for_current_lap        0
total_pit_stops                 0
weather_conditions              0
dtype: int64

In [57]:
df['q_avg']= df[['q1','q2','q3']].mean(axis=1)
df.insert(13, 'q_avg', df.pop('q_avg'))
df.head()

,driverId,raceId,circuit_location,circuit_country,grid_position,results_position,results_points,total_laps,driver_nationality,driver_home,driver_age_atrace,constructor_name,constructor_home,q_avg,status,qual_position,q1,q2,q3,lap,position_at_given_lap,lap_time_for_current_lap,total_pit_stops,weather_conditions
0,3,948,Melbourne,Australia,2,1,25.0,57,German,Germany,32,Mercedes,Germany,85.309,Finished,2.0,86.934,84.796,84.197,1.0,3.0,99.316,2,Overcast
1,3,948,Melbourne,Australia,2,1,25.0,57,German,Germany,32,Mercedes,Germany,85.309,Finished,2.0,86.934,84.796,84.197,2.0,3.0,92.037,2,Overcast
2,3,948,Melbourne,Australia,2,1,25.0,57,German,Germany,32,Mercedes,Germany,85.309,Finished,2.0,86.934,84.796,84.197,3.0,3.0,92.747,2,Overcast
3,3,948,Melbourne,Australia,2,1,25.0,57,German,Germany,32,Mercedes,Germany,85.309,Finished,2.0,86.934,84.796,84.197,4.0,3.0,92.141,2,Overcast
4,3,948,Melbourne,Australia,2,1,25.0,57,German,Germany,32,Mercedes,Germany,85.309,Finished,2.0,86.934,84.796,84.197,5.0,3.0,91.575,2,Overcast

In [58]:
# Step 1: Calculate average lap time
average_lap_time = df.groupby(['driverId', 'raceId'])['lap_time_for_current_lap'].mean().reset_index()
average_lap_time.rename(columns={'lap_time_for_current_lap': 'average_lap_time'}, inplace=True)

# Step 2: Merge the average lap time back into the original DataFrame
df = df.merge(average_lap_time, on=['driverId', 'raceId'], how='left')
df.insert(21, 'average_lap_time', df.pop('average_lap_time'))
df.head()

,driverId,raceId,circuit_location,circuit_country,grid_position,results_position,results_points,total_laps,driver_nationality,driver_home,driver_age_atrace,constructor_name,constructor_home,q_avg,status,qual_position,q1,q2,q3,lap,position_at_given_lap,average_lap_time,lap_time_for_current_lap,total_pit_stops,weather_conditions
0,3,948,Melbourne,Australia,2,1,25.0,57,German,Germany,32,Mercedes,Germany,85.309,Finished,2.0,86.934,84.796,84.197,1.0,3.0,113.957281,99.316,2,Overcast
1,3,948,Melbourne,Australia,2,1,25.0,57,German,Germany,32,Mercedes,Germany,85.309,Finished,2.0,86.934,84.796,84.197,2.0,3.0,113.957281,92.037,2,Overcast
2,3,948,Melbourne,Australia,2,1,25.0,57,German,Germany,32,Mercedes,Germany,85.309,Finished,2.0,86.934,84.796,84.197,3.0,3.0,113.957281,92.747,2,Overcast
3,3,948,Melbourne,Australia,2,1,25.0,57,German,Germany,32,Mercedes,Germany,85.309,Finished,2.0,86.934,84.796,84.197,4.0,3.0,113.957281,92.141,2,Overcast
4,3,948,Melbourne,Australia,2,1,25.0,57,German,Germany,32,Mercedes,Germany,85.309,Finished,2.0,86.934,84.796,84.197,5.0,3.0,113.957281,91.575,2,Overcast

In [59]:
df.drop(columns=['driverId','raceId'],inplace=True)
df.head()

,circuit_location,circuit_country,grid_position,results_position,results_points,total_laps,driver_nationality,driver_home,driver_age_atrace,constructor_name,constructor_home,q_avg,status,qual_position,q1,q2,q3,lap,position_at_given_lap,average_lap_time,lap_time_for_current_lap,total_pit_stops,weather_conditions
0,Melbourne,Australia,2,1,25.0,57,German,Germany,32,Mercedes,Germany,85.309,Finished,2.0,86.934,84.796,84.197,1.0,3.0,113.957281,99.316,2,Overcast
1,Melbourne,Australia,2,1,25.0,57,German,Germany,32,Mercedes,Germany,85.309,Finished,2.0,86.934,84.796,84.197,2.0,3.0,113.957281,92.037,2,Overcast
2,Melbourne,Australia,2,1,25.0,57,German,Germany,32,Mercedes,Germany,85.309,Finished,2.0,86.934,84.796,84.197,3.0,3.0,113.957281,92.747,2,Overcast
3,Melbourne,Australia,2,1,25.0,57,German,Germany,32,Mercedes,Germany,85.309,Finished,2.0,86.934,84.796,84.197,4.0,3.0,113.957281,92.141,2,Overcast
4,Melbourne,Australia,2,1,25.0,57,German,Germany,32,Mercedes,Germany,85.309,Finished,2.0,86.934,84.796,84.197,5.0,3.0,113.957281,91.575,2,Overcast

In [60]:
df.columns

Index(['circuit_location', 'circuit_country', 'grid_position',
       'results_position', 'results_points', 'total_laps',
       'driver_nationality', 'driver_home', 'driver_age_atrace',
       'constructor_name', 'constructor_home', 'q_avg', 'status',
       'qual_position', 'q1', 'q2', 'q3', 'lap', 'position_at_given_lap',
       'average_lap_time', 'lap_time_for_current_lap', 'total_pit_stops',
       'weather_conditions'],
      dtype='object')

In [61]:
df.dtypes

circuit_location             object
circuit_country              object
grid_position                 int64
results_position              int64
results_points              float64
total_laps                    int64
driver_nationality           object
driver_home                  object
driver_age_atrace             int64
constructor_name             object
constructor_home             object
q_avg                       float64
status                       object
qual_position               float64
q1                          float64
q2                          float64
q3                          float64
lap                         float64
position_at_given_lap       float64
average_lap_time            float64
lap_time_for_current_lap    float64
total_pit_stops               int64
weather_conditions           object
dtype: object

In [62]:
df.shape

(166870, 23)

In [63]:
df.weather_conditions.unique()

array(['Overcast', 'Dry', 'Sunny', 'Wet'], dtype=object)

In [64]:
df.columns

Index(['circuit_location', 'circuit_country', 'grid_position',
       'results_position', 'results_points', 'total_laps',
       'driver_nationality', 'driver_home', 'driver_age_atrace',
       'constructor_name', 'constructor_home', 'q_avg', 'status',
       'qual_position', 'q1', 'q2', 'q3', 'lap', 'position_at_given_lap',
       'average_lap_time', 'lap_time_for_current_lap', 'total_pit_stops',
       'weather_conditions'],
      dtype='object')

In [65]:
df.to_csv('final.csv',index=False)

In [66]:
df.driver_nationality.unique()

array(['German', 'British', 'Australian', 'Brazilian', 'French',
       'Finnish', 'Spanish', 'Dutch', 'Danish', 'Mexican', 'Swedish',
       'Indonesian', 'Russian', 'Belgian', 'Italian', 'Canadian',
       'New Zealander', 'Monegasque', 'Thai', 'Polish', 'Japanese',
       'Chinese', 'American'], dtype=object)

In [78]:
df.loc[df['results_position']==0]

Empty DataFrame
Columns: [circuit_location, circuit_country, grid_position, results_position, results_points, total_laps, driver_nationality, driver_home, driver_age_atrace, constructor_name, constructor_home, q_avg, status, qual_position, q1, q2, q3, lap, position_at_given_lap, average_lap_time, lap_time_for_current_lap, total_pit_stops, weather_conditions]
Index: []

# Encoding:

In [67]:
# One-Hot Encoding the categorical variables
df_encoded = pd.get_dummies(df, columns=['driver_nationality', 'constructor_name',
                                                'circuit_location', 
                                               'weather_conditions'], drop_first=True)

In [68]:
df_encoded.head()

,circuit_country,grid_position,results_position,results_points,total_laps,driver_home,driver_age_atrace,constructor_home,q_avg,status,qual_position,q1,q2,q3,lap,position_at_given_lap,average_lap_time,lap_time_for_current_lap,total_pit_stops,driver_nationality_Australian,driver_nationality_Belgian,driver_nationality_Brazilian,driver_nationality_British,driver_nationality_Canadian,driver_nationality_Chinese,driver_nationality_Danish,driver_nationality_Dutch,driver_nationality_Finnish,driver_nationality_French,driver_nationality_German,driver_nationality_Indonesian,driver_nationality_Italian,driver_nationality_Japanese,driver_nationality_Mexican,driver_nationality_Monegasque,driver_nationality_New Zealander,driver_nationality_Polish,driver_nationality_Russian,driver_nationality_Spanish,driver_nationality_Swedish,driver_nationality_Thai,constructor_name_AlphaTauri,constructor_name_Alpine F1 Team,constructor_name_Aston Martin,constructor_name_Ferrari,constructor_name_Force India,constructor_name_Haas F1 Team,constructor_name_Manor Marussia,constructor_name_McLaren,constructor_name_Mercedes,constructor_name_Racing Point,constructor_name_Red Bull,constructor_name_Renault,constructor_name_Sauber,constructor_name_Toro Rosso,constructor_name_Williams,circuit_location_Al Daayen,circuit_location_Austin,circuit_location_Baku,circuit_location_Budapest,circuit_location_Hockenheim,circuit_location_Imola,circuit_location_Istanbul,circuit_location_Jeddah,circuit_location_Kuala Lumpur,circuit_location_Le Castellet,circuit_location_Marina Bay,circuit_location_Melbourne,circuit_location_Mexico City,circuit_location_Miami,circuit_location_Monte-Carlo,circuit_location_Montmel√≥,circuit_location_Montreal,circuit_location_Monza,circuit_location_Mugello,circuit_location_N√ºrburg,circuit_location_Portim√£o,circuit_location_Sakhir,circuit_location_Shanghai,circuit_location_Silverstone,circuit_location_Sochi,circuit_location_Spa,circuit_location_Spielberg,circuit_location_Suzuka,circuit_location_S√£o Paulo,circuit_location_Zandvoort,weather_conditions_Overcast,weather_conditions_Sunny,weather_conditions_Wet
0,Australia,2,1,25.0,57,Germany,32,Germany,85.309,Finished,2.0,86.934,84.796,84.197,1.0,3.0,113.957281,99.316,2,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
1,Australia,2,1,25.0,57,Germany,32,Germany,85.309,Finished,2.0,86.934,84.796,84.197,2.0,3.0,113.957281,92.037,2,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
2,Australia,2,1,25.0,57,Germany,32,Germany,85.309,Finished,2.0,86.934,84.796,84.197,3.0,3.0,113.957281,92.747,2,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
3,Australia,2,1,25.0,57,Germany,32,Germany,85.309,Finished,2.0,86.934,84.796,84.197,4.0,3.0,113.957281,92.141,2,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
4,Australia,2,1,25.0,57,Germany,32,Germany,85.309,Finished,2.0,86.934,84.796,84.197,5.0,3.0,113.957281,91.575,2,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False

In [69]:
df_encoded.shape

(166870, 89)

In [70]:
# Define the columns to drop
columns_to_drop = ['results_position', 'results_points', 'total_laps', 
                     'driver_home', 'status', 'q1', 'q2', 'q3', 
                     'lap', 'position_at_given_lap', 'lap_time_for_current_lap','circuit_country','qual_position','q_avg','constructor_home']

In [71]:
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

# Separating the features (X) from the target variable (y)
X = df_encoded.drop(columns=columns_to_drop)
y = df_encoded['results_position']

In [79]:
X.columns

Index(['grid_position', 'driver_age_atrace', 'average_lap_time',
       'total_pit_stops', 'driver_nationality_Australian',
       'driver_nationality_Belgian', 'driver_nationality_Brazilian',
       'driver_nationality_British', 'driver_nationality_Canadian',
       'driver_nationality_Chinese', 'driver_nationality_Danish',
       'driver_nationality_Dutch', 'driver_nationality_Finnish',
       'driver_nationality_French', 'driver_nationality_German',
       'driver_nationality_Indonesian', 'driver_nationality_Italian',
       'driver_nationality_Japanese', 'driver_nationality_Mexican',
       'driver_nationality_Monegasque', 'driver_nationality_New Zealander',
       'driver_nationality_Polish', 'driver_nationality_Russian',
       'driver_nationality_Spanish', 'driver_nationality_Swedish',
       'driver_nationality_Thai', 'constructor_name_AlphaTauri',
       'constructor_name_Alpine F1 Team', 'constructor_name_Aston Martin',
       'constructor_name_Ferrari', 'constructor_name_Force India',
       'constructor_name_Haas F1 Team', 'constructor_name_Manor Marussia',
       'constructor_name_McLaren', 'constructor_name_Mercedes',
       'constructor_name_Racing Point', 'constructor_name_Red Bull',
       'constructor_name_Renault', 'constructor_name_Sauber',
       'constructor_name_Toro Rosso', 'constructor_name_Williams',
       'circuit_location_Al Daayen', 'circuit_location_Austin',
       'circuit_location_Baku', 'circuit_location_Budapest',
       'circuit_location_Hockenheim', 'circuit_location_Imola',
       'circuit_location_Istanbul', 'circuit_location_Jeddah',
       'circuit_location_Kuala Lumpur', 'circuit_location_Le Castellet',
       'circuit_location_Marina Bay', 'circuit_location_Melbourne',
       'circuit_location_Mexico City', 'circuit_location_Miami',
       'circuit_location_Monte-Carlo', 'circuit_location_Montmel√≥',
       'circuit_location_Montreal', 'circuit_location_Monza',
       'circuit_location_Mugello', 'circuit_location_N√ºrburg',
       'circuit_location_Portim√£o', 'circuit_location_Sakhir',
       'circuit_location_Shanghai', 'circuit_location_Silverstone',
       'circuit_location_Sochi', 'circuit_location_Spa',
       'circuit_location_Spielberg', 'circuit_location_Suzuka',
       'circuit_location_S√£o Paulo', 'circuit_location_Zandvoort',
       'weather_conditions_Overcast', 'weather_conditions_Sunny',
       'weather_conditions_Wet'],
      dtype='object')

## Model Fitting:

In [72]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, accuracy_score
from sklearn.impute import SimpleImputer

# Assuming X_pca is your feature matrix after PCA and y is your target variable (results_position)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

#imputer = SimpleImputer(strategy='mean')
#X_train_imputed = imputer.fit_transform(X_train)
#X_test_imputed = imputer.transform(X_test)

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

pca = PCA(n_components=0.95)  # Retain enough components to explain 95% of the variance
X_train_pca = pca.fit_transform(X_train_scaled)
X_test_pca = pca.transform(X_test_scaled)

rf_model = RandomForestClassifier(n_estimators=100, random_state=42)

# Train the model
rf_model.fit(X_train_pca, y_train)

# Make predictions
y_pred_rf = rf_model.predict(X_test_pca)

# Evaluate the model
print("Random Forest Accuracy:", accuracy_score(y_test, y_pred_rf))
print("Classification Report:\n", classification_report(y_test, y_pred_rf))

Random Forest Accuracy: 1.0
Classification Report:
               precision    recall  f1-score   support

           1       1.00      1.00      1.00      1866
           2       1.00      1.00      1.00      1847
           3       1.00      1.00      1.00      1853
           4       1.00      1.00      1.00      1863
           5       1.00      1.00      1.00      1845
           6       1.00      1.00      1.00      1821
           7       1.00      1.00      1.00      1820
           8       1.00      1.00      1.00      1844
           9       1.00      1.00      1.00      1817
          10       1.00      1.00      1.00      1814
          11       1.00      1.00      1.00      1810
          12       1.00      1.00      1.00      1847
          13       1.00      1.00      1.00      1865
          14       1.00      1.00      1.00      1810
          15       1.00      1.00      1.00      1785
          16       1.00      1.00      1.00      1652
          17       1.00      1.00      1.00      1513
          18       1.00      1.00      1.00      1261
          19       1.00      1.00      1.00       856
          20       1.00      1.00      1.00       477
          21       1.00      1.00      1.00        60
          22       1.00      1.00      1.00        48

    accuracy                           1.00     33374
   macro avg       1.00      1.00      1.00     33374
weighted avg       1.00      1.00      1.00     33374

In [73]:
X_test.columns

Index(['grid_position', 'driver_age_atrace', 'average_lap_time',
       'total_pit_stops', 'driver_nationality_Australian',
       'driver_nationality_Belgian', 'driver_nationality_Brazilian',
       'driver_nationality_British', 'driver_nationality_Canadian',
       'driver_nationality_Chinese', 'driver_nationality_Danish',
       'driver_nationality_Dutch', 'driver_nationality_Finnish',
       'driver_nationality_French', 'driver_nationality_German',
       'driver_nationality_Indonesian', 'driver_nationality_Italian',
       'driver_nationality_Japanese', 'driver_nationality_Mexican',
       'driver_nationality_Monegasque', 'driver_nationality_New Zealander',
       'driver_nationality_Polish', 'driver_nationality_Russian',
       'driver_nationality_Spanish', 'driver_nationality_Swedish',
       'driver_nationality_Thai', 'constructor_name_AlphaTauri',
       'constructor_name_Alpine F1 Team', 'constructor_name_Aston Martin',
       'constructor_name_Ferrari', 'constructor_name_Force India',
       'constructor_name_Haas F1 Team', 'constructor_name_Manor Marussia',
       'constructor_name_McLaren', 'constructor_name_Mercedes',
       'constructor_name_Racing Point', 'constructor_name_Red Bull',
       'constructor_name_Renault', 'constructor_name_Sauber',
       'constructor_name_Toro Rosso', 'constructor_name_Williams',
       'circuit_location_Al Daayen', 'circuit_location_Austin',
       'circuit_location_Baku', 'circuit_location_Budapest',
       'circuit_location_Hockenheim', 'circuit_location_Imola',
       'circuit_location_Istanbul', 'circuit_location_Jeddah',
       'circuit_location_Kuala Lumpur', 'circuit_location_Le Castellet',
       'circuit_location_Marina Bay', 'circuit_location_Melbourne',
       'circuit_location_Mexico City', 'circuit_location_Miami',
       'circuit_location_Monte-Carlo', 'circuit_location_Montmel√≥',
       'circuit_location_Montreal', 'circuit_location_Monza',
       'circuit_location_Mugello', 'circuit_location_N√ºrburg',
       'circuit_location_Portim√£o', 'circuit_location_Sakhir',
       'circuit_location_Shanghai', 'circuit_location_Silverstone',
       'circuit_location_Sochi', 'circuit_location_Spa',
       'circuit_location_Spielberg', 'circuit_location_Suzuka',
       'circuit_location_S√£o Paulo', 'circuit_location_Zandvoort',
       'weather_conditions_Overcast', 'weather_conditions_Sunny',
       'weather_conditions_Wet'],
      dtype='object')

In [74]:
import joblib
#joblib.dump(imputer, 'imputer.pkl')
joblib.dump(pca, 'pca_transformer.pkl')
joblib.dump(scaler, 'scaler.pkl')

['scaler.pkl']

In [75]:
from sklearn.model_selection import RandomizedSearchCV

param_dist = {
    'n_estimators': [100, 200],
    'max_depth': [10, 20, None],
    'min_samples_split': [2, 10],
    'min_samples_leaf': [1, 4]
}

random_search = RandomizedSearchCV(RandomForestClassifier(), param_distributions=param_dist, n_iter=10, scoring='accuracy', n_jobs=-1, cv=5, random_state=42)
random_search.fit(X_train, y_train)

print("Best parameters found: ", random_search.best_params_)
print("Best cross-validation score: ", random_search.best_score_)

Best parameters found:  {'n_estimators': 100, 'min_samples_split': 2, 'min_samples_leaf': 1, 'max_depth': 20}
Best cross-validation score:  0.9999400732230148

In [77]:
# Use the best parameters to fit a new model
best_model = RandomForestClassifier(n_estimators= 100, min_samples_split= 2, min_samples_leaf= 1, max_depth= 20)
best_model.fit(X_train_pca, y_train)

# Make predictions
y_pred = best_model.predict(X_test_pca)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print("Test Accuracy:", accuracy)
print("Classification Report:\n", classification_report(y_test, y_pred))

# Save model
joblib.dump(best_model, 'best_model.pkl')

Test Accuracy: 1.0
Classification Report:
               precision    recall  f1-score   support

           1       1.00      1.00      1.00      1866
           2       1.00      1.00      1.00      1847
           3       1.00      1.00      1.00      1853
           4       1.00      1.00      1.00      1863
           5       1.00      1.00      1.00      1845
           6       1.00      1.00      1.00      1821
           7       1.00      1.00      1.00      1820
           8       1.00      1.00      1.00      1844
           9       1.00      1.00      1.00      1817
          10       1.00      1.00      1.00      1814
          11       1.00      1.00      1.00      1810
          12       1.00      1.00      1.00      1847
          13       1.00      1.00      1.00      1865
          14       1.00      1.00      1.00      1810
          15       1.00      1.00      1.00      1785
          16       1.00      1.00      1.00      1652
          17       1.00      1.00      1.00      1513
          18       1.00      1.00      1.00      1261
          19       1.00      1.00      1.00       856
          20       1.00      1.00      1.00       477
          21       1.00      1.00      1.00        60
          22       1.00      1.00      1.00        48

    accuracy                           1.00     33374
   macro avg       1.00      1.00      1.00     33374
weighted avg       1.00      1.00      1.00     33374

['best_model.pkl']