In [1]:
import pandas as pd

In [2]:
#Load Refined Datasets
circuits = pd.read_csv('/Users/rahul/Desktop/F1 Project 2/Data Cleaning/cl_circuits.csv')
con_res = pd.read_csv('/Users/rahul/Desktop/F1 Project 2/Data Cleaning/cl_con_res.csv')
con_stand = pd.read_csv('/Users/rahul/Desktop/F1 Project 2/Data Cleaning/cl_con_stand.csv')
constructors = pd.read_csv('/Users/rahul/Desktop/F1 Project 2/Data Cleaning/cl_con.csv')
driv_standings = pd.read_csv('/Users/rahul/Desktop/F1 Project 2/Data Cleaning/cl_driv_standings.csv')
drivers = pd.read_csv('/Users/rahul/Desktop/F1 Project 2/Data Cleaning/cl_drivers.csv')
laptm = pd.read_csv('/Users/rahul/Desktop/F1 Project 2/Data Cleaning/cl_laptm.csv')
pit_stops = pd.read_csv('/Users/rahul/Desktop/F1 Project 2/Data Cleaning/cl_pit_stops.csv')
qual = pd.read_csv('/Users/rahul/Desktop/F1 Project 2/Data Cleaning/cl_qualifying.csv')
races = pd.read_csv('/Users/rahul/Desktop/F1 Project 2/Data Cleaning/cl_races.csv')
results = pd.read_csv('/Users/rahul/Desktop/F1 Project 2/Data Cleaning/cl_results.csv')
status = pd.read_csv('/Users/rahul/Desktop/F1 Project 2/Data Cleaning/cl_status.csv')

In [3]:
df1 = pd.merge(races, circuits, on='circuitId', how='inner')
df1.head()

   raceId  year  circuitId circuit_location circuit_country
0     337  2010          3           Sakhir         Bahrain
1     338  2010          1        Melbourne       Australia
2     339  2010          2     Kuala Lumpur        Malaysia
3     340  2010         17         Shanghai           China
4     341  2010          4         Montmeló           Spain

In [4]:
df2 = pd.merge(df1, results, on='raceId', how='inner')
df2.head()

,raceId,year,circuitId,circuit_location,circuit_country,resultId,driverId,constructorId,grid_position,results_position,results_points,results_laps,statusId
0,337,2010,3,Sakhir,Bahrain,20323,4,6,3,1,25.0,49,1
1,337,2010,3,Sakhir,Bahrain,20324,13,6,2,2,18.0,49,1
2,337,2010,3,Sakhir,Bahrain,20325,1,1,4,3,15.0,49,1
3,337,2010,3,Sakhir,Bahrain,20326,20,9,1,4,12.0,49,1
4,337,2010,3,Sakhir,Bahrain,20327,3,131,5,5,10.0,49,1

In [5]:
df3 = pd.merge(df2, drivers, on='driverId', how='inner')
df3.head()

,raceId,year,circuitId,circuit_location,circuit_country,resultId,driverId,constructorId,grid_position,results_position,results_points,results_laps,statusId,driver_name,driver_nationality,driver_home,driver_age
0,337,2010,3,Sakhir,Bahrain,20323,4,6,3,1,25.0,49,1,Fernando Alonso,Spanish,Spain,43
1,337,2010,3,Sakhir,Bahrain,20324,13,6,2,2,18.0,49,1,Felipe Massa,Brazilian,Brazil,43
2,337,2010,3,Sakhir,Bahrain,20325,1,1,4,3,15.0,49,1,Lewis Hamilton,British,UK,39
3,337,2010,3,Sakhir,Bahrain,20326,20,9,1,4,12.0,49,1,Sebastian Vettel,German,Germany,37
4,337,2010,3,Sakhir,Bahrain,20327,3,131,5,5,10.0,49,1,Nico Rosberg,German,Germany,39

In [6]:
df4 = pd.merge(df3, constructors, on='constructorId', how='inner')
df4.head()

,raceId,year,circuitId,circuit_location,circuit_country,resultId,driverId,constructorId,grid_position,results_position,results_points,results_laps,statusId,driver_name,driver_nationality,driver_home,driver_age,constructor_name,constructor_home
0,337,2010,3,Sakhir,Bahrain,20323,4,6,3,1,25.0,49,1,Fernando Alonso,Spanish,Spain,43,Ferrari,Italy
1,337,2010,3,Sakhir,Bahrain,20324,13,6,2,2,18.0,49,1,Felipe Massa,Brazilian,Brazil,43,Ferrari,Italy
2,337,2010,3,Sakhir,Bahrain,20325,1,1,4,3,15.0,49,1,Lewis Hamilton,British,UK,39,McLaren,UK
3,337,2010,3,Sakhir,Bahrain,20326,20,9,1,4,12.0,49,1,Sebastian Vettel,German,Germany,37,Red Bull,Austria
4,337,2010,3,Sakhir,Bahrain,20327,3,131,5,5,10.0,49,1,Nico Rosberg,German,Germany,39,Mercedes,Germany

In [7]:
df5 = pd.merge(df4, status, on='statusId', how='left')
df5.head()

,raceId,year,circuitId,circuit_location,circuit_country,resultId,driverId,constructorId,grid_position,results_position,results_points,results_laps,statusId,driver_name,driver_nationality,driver_home,driver_age,constructor_name,constructor_home,status
0,337,2010,3,Sakhir,Bahrain,20323,4,6,3,1,25.0,49,1,Fernando Alonso,Spanish,Spain,43,Ferrari,Italy,Finished
1,337,2010,3,Sakhir,Bahrain,20324,13,6,2,2,18.0,49,1,Felipe Massa,Brazilian,Brazil,43,Ferrari,Italy,Finished
2,337,2010,3,Sakhir,Bahrain,20325,1,1,4,3,15.0,49,1,Lewis Hamilton,British,UK,39,McLaren,UK,Finished
3,337,2010,3,Sakhir,Bahrain,20326,20,9,1,4,12.0,49,1,Sebastian Vettel,German,Germany,37,Red Bull,Austria,Finished
4,337,2010,3,Sakhir,Bahrain,20327,3,131,5,5,10.0,49,1,Nico Rosberg,German,Germany,39,Mercedes,Germany,Finished

In [8]:
df6 = pd.merge(df5, qual, on=['raceId', 'driverId', 'constructorId'], how='left')
df6.head()

,raceId,year,circuitId,circuit_location,circuit_country,resultId,driverId,constructorId,grid_position,results_position,...,driver_home,driver_age,constructor_name,constructor_home,status,qualifyId,qual_position,q1,q2,q3
0,337,2010,3,Sakhir,Bahrain,20323,4,6,3,1,...,Spain,43,Ferrari,Italy,Finished,3328.0,3.0,00:01:54.612000,00:01:54.172000,00:01:54.608000
1,337,2010,3,Sakhir,Bahrain,20324,13,6,2,2,...,Brazil,43,Ferrari,Italy,Finished,3327.0,2.0,00:01:55.313000,00:01:54.331000,00:01:54.242000
2,337,2010,3,Sakhir,Bahrain,20325,1,1,4,3,...,UK,39,McLaren,UK,Finished,3329.0,4.0,00:01:55.341000,00:01:54.707000,00:01:55.217000
3,337,2010,3,Sakhir,Bahrain,20326,20,9,1,4,...,Germany,37,Red Bull,Austria,Finished,3326.0,1.0,00:01:55.029000,00:01:53.883000,00:01:54.101000
4,337,2010,3,Sakhir,Bahrain,20327,3,131,5,5,...,Germany,39,Mercedes,Germany,Finished,3330.0,5.0,00:01:55.463000,00:01:54.682000,00:01:55.241000

In [9]:
df7 = pd.merge(df6, driv_standings, on=['raceId', 'driverId'], how='left')
df7.head()

,raceId,year,circuitId,circuit_location,circuit_country,resultId,driverId,constructorId,grid_position,results_position,...,status,qualifyId,qual_position,q1,q2,q3,driverStandingsId,driv_std_points,driv_std_position,driv_std_wins
0,337,2010,3,Sakhir,Bahrain,20323,4,6,3,1,...,Finished,3328.0,3.0,00:01:54.612000,00:01:54.172000,00:01:54.608000,63737.0,25.0,1.0,1.0
1,337,2010,3,Sakhir,Bahrain,20324,13,6,2,2,...,Finished,3327.0,2.0,00:01:55.313000,00:01:54.331000,00:01:54.242000,63738.0,18.0,2.0,0.0
2,337,2010,3,Sakhir,Bahrain,20325,1,1,4,3,...,Finished,3329.0,4.0,00:01:55.341000,00:01:54.707000,00:01:55.217000,63739.0,15.0,3.0,0.0
3,337,2010,3,Sakhir,Bahrain,20326,20,9,1,4,...,Finished,3326.0,1.0,00:01:55.029000,00:01:53.883000,00:01:54.101000,63740.0,12.0,4.0,0.0
4,337,2010,3,Sakhir,Bahrain,20327,3,131,5,5,...,Finished,3330.0,5.0,00:01:55.463000,00:01:54.682000,00:01:55.241000,63741.0,10.0,5.0,0.0

In [10]:
df8 = pd.merge(df7, con_stand, on=['raceId', 'constructorId'], how='left')
df8.head()

,raceId,year,circuitId,circuit_location,circuit_country,resultId,driverId,constructorId,grid_position,results_position,...,q2,q3,driverStandingsId,driv_std_points,driv_std_position,driv_std_wins,constructorStandingsId,con_std_points,con_std_position,con_std_wins
0,337,2010,3,Sakhir,Bahrain,20323,4,6,3,1,...,00:01:54.172000,00:01:54.608000,63737.0,25.0,1.0,1.0,24232.0,43.0,1.0,1.0
1,337,2010,3,Sakhir,Bahrain,20324,13,6,2,2,...,00:01:54.331000,00:01:54.242000,63738.0,18.0,2.0,0.0,24232.0,43.0,1.0,1.0
2,337,2010,3,Sakhir,Bahrain,20325,1,1,4,3,...,00:01:54.707000,00:01:55.217000,63739.0,15.0,3.0,0.0,24233.0,21.0,2.0,0.0
3,337,2010,3,Sakhir,Bahrain,20326,20,9,1,4,...,00:01:53.883000,00:01:54.101000,63740.0,12.0,4.0,0.0,24234.0,16.0,4.0,0.0
4,337,2010,3,Sakhir,Bahrain,20327,3,131,5,5,...,00:01:54.682000,00:01:55.241000,63741.0,10.0,5.0,0.0,24235.0,18.0,3.0,0.0

In [11]:
df9 = pd.merge(df8, con_res, on=['raceId', 'constructorId'], how='left')
df9.head()

,raceId,year,circuitId,circuit_location,circuit_country,resultId,driverId,constructorId,grid_position,results_position,...,driverStandingsId,driv_std_points,driv_std_position,driv_std_wins,constructorStandingsId,con_std_points,con_std_position,con_std_wins,constructorResultsId,con_res_points
0,337,2010,3,Sakhir,Bahrain,20323,4,6,3,1,...,63737.0,25.0,1.0,1.0,24232.0,43.0,1.0,1.0,13900.0,43.0
1,337,2010,3,Sakhir,Bahrain,20324,13,6,2,2,...,63738.0,18.0,2.0,0.0,24232.0,43.0,1.0,1.0,13900.0,43.0
2,337,2010,3,Sakhir,Bahrain,20325,1,1,4,3,...,63739.0,15.0,3.0,0.0,24233.0,21.0,2.0,0.0,13901.0,21.0
3,337,2010,3,Sakhir,Bahrain,20326,20,9,1,4,...,63740.0,12.0,4.0,0.0,24234.0,16.0,4.0,0.0,13902.0,16.0
4,337,2010,3,Sakhir,Bahrain,20327,3,131,5,5,...,63741.0,10.0,5.0,0.0,24235.0,18.0,3.0,0.0,13903.0,18.0

In [12]:
df10 = pd.merge(df9, laptm, on=['raceId', 'driverId'], how='left')
df10.head()

,raceId,year,circuitId,circuit_location,circuit_country,resultId,driverId,constructorId,grid_position,results_position,...,driv_std_wins,constructorStandingsId,con_std_points,con_std_position,con_std_wins,constructorResultsId,con_res_points,lap_tm_(lap),lap_tm_position,lap_time
0,337,2010,3,Sakhir,Bahrain,20323,4,6,3,1,...,1.0,24232.0,43.0,1.0,1.0,13900.0,43.0,1.0,2.0,00:02:05.394000
1,337,2010,3,Sakhir,Bahrain,20323,4,6,3,1,...,1.0,24232.0,43.0,1.0,1.0,13900.0,43.0,2.0,2.0,00:02:02.720000
2,337,2010,3,Sakhir,Bahrain,20323,4,6,3,1,...,1.0,24232.0,43.0,1.0,1.0,13900.0,43.0,3.0,2.0,00:02:03.046000
3,337,2010,3,Sakhir,Bahrain,20323,4,6,3,1,...,1.0,24232.0,43.0,1.0,1.0,13900.0,43.0,4.0,2.0,00:02:02.781000
4,337,2010,3,Sakhir,Bahrain,20323,4,6,3,1,...,1.0,24232.0,43.0,1.0,1.0,13900.0,43.0,5.0,2.0,00:02:02.640000

In [13]:
final_df = pd.merge(df10, pit_stops, on=['raceId', 'driverId'], how='inner')
final_df.head()

,raceId,year,circuitId,circuit_location,circuit_country,resultId,driverId,constructorId,grid_position,results_position,...,constructorStandingsId,con_std_points,con_std_position,con_std_wins,constructorResultsId,con_res_points,lap_tm_(lap),lap_tm_position,lap_time,total_pit_stops
0,841,2011,1,Melbourne,Australia,20779,20,9,1,1,...,24660.0,35.0,1.0,1.0,14129.0,35.0,1.0,1.0,00:01:38.109000,2
1,841,2011,1,Melbourne,Australia,20779,20,9,1,1,...,24660.0,35.0,1.0,1.0,14129.0,35.0,1.0,1.0,00:01:38.109000,2
2,841,2011,1,Melbourne,Australia,20779,20,9,1,1,...,24660.0,35.0,1.0,1.0,14129.0,35.0,2.0,1.0,00:01:33.006000,2
3,841,2011,1,Melbourne,Australia,20779,20,9,1,1,...,24660.0,35.0,1.0,1.0,14129.0,35.0,2.0,1.0,00:01:33.006000,2
4,841,2011,1,Melbourne,Australia,20779,20,9,1,1,...,24660.0,35.0,1.0,1.0,14129.0,35.0,3.0,1.0,00:01:32.713000,2

In [14]:
total_duplicates = final_df.duplicated().sum()

print(f"Total duplicate rows: {total_duplicates}")

Total duplicate rows: 301434

In [16]:
pd.set_option('display.max_columns', None)
final_df.head(10)

,raceId,year,circuitId,circuit_location,circuit_country,resultId,driverId,constructorId,grid_position,results_position,results_points,results_laps,statusId,driver_name,driver_nationality,driver_home,driver_age,constructor_name,constructor_home,status,qualifyId,qual_position,q1,q2,q3,driverStandingsId,driv_std_points,driv_std_position,driv_std_wins,constructorStandingsId,con_std_points,con_std_position,con_std_wins,constructorResultsId,con_res_points,lap_tm_(lap),lap_tm_position,lap_time,total_pit_stops
0,841,2011,1,Melbourne,Australia,20779,20,9,1,1,25.0,58,1,Sebastian Vettel,German,Germany,37,Red Bull,Austria,Finished,4537.0,1.0,00:01:25.296000,00:01:24.090000,00:01:23.529000,64690.0,25.0,1.0,1.0,24660.0,35.0,1.0,1.0,14129.0,35.0,1.0,1.0,00:01:38.109000,2
1,841,2011,1,Melbourne,Australia,20779,20,9,1,1,25.0,58,1,Sebastian Vettel,German,Germany,37,Red Bull,Austria,Finished,4537.0,1.0,00:01:25.296000,00:01:24.090000,00:01:23.529000,64690.0,25.0,1.0,1.0,24660.0,35.0,1.0,1.0,14129.0,35.0,1.0,1.0,00:01:38.109000,2
2,841,2011,1,Melbourne,Australia,20779,20,9,1,1,25.0,58,1,Sebastian Vettel,German,Germany,37,Red Bull,Austria,Finished,4537.0,1.0,00:01:25.296000,00:01:24.090000,00:01:23.529000,64690.0,25.0,1.0,1.0,24660.0,35.0,1.0,1.0,14129.0,35.0,2.0,1.0,00:01:33.006000,2
3,841,2011,1,Melbourne,Australia,20779,20,9,1,1,25.0,58,1,Sebastian Vettel,German,Germany,37,Red Bull,Austria,Finished,4537.0,1.0,00:01:25.296000,00:01:24.090000,00:01:23.529000,64690.0,25.0,1.0,1.0,24660.0,35.0,1.0,1.0,14129.0,35.0,2.0,1.0,00:01:33.006000,2
4,841,2011,1,Melbourne,Australia,20779,20,9,1,1,25.0,58,1,Sebastian Vettel,German,Germany,37,Red Bull,Austria,Finished,4537.0,1.0,00:01:25.296000,00:01:24.090000,00:01:23.529000,64690.0,25.0,1.0,1.0,24660.0,35.0,1.0,1.0,14129.0,35.0,3.0,1.0,00:01:32.713000,2
5,841,2011,1,Melbourne,Australia,20779,20,9,1,1,25.0,58,1,Sebastian Vettel,German,Germany,37,Red Bull,Austria,Finished,4537.0,1.0,00:01:25.296000,00:01:24.090000,00:01:23.529000,64690.0,25.0,1.0,1.0,24660.0,35.0,1.0,1.0,14129.0,35.0,3.0,1.0,00:01:32.713000,2
6,841,2011,1,Melbourne,Australia,20779,20,9,1,1,25.0,58,1,Sebastian Vettel,German,Germany,37,Red Bull,Austria,Finished,4537.0,1.0,00:01:25.296000,00:01:24.090000,00:01:23.529000,64690.0,25.0,1.0,1.0,24660.0,35.0,1.0,1.0,14129.0,35.0,4.0,1.0,00:01:32.803000,2
7,841,2011,1,Melbourne,Australia,20779,20,9,1,1,25.0,58,1,Sebastian Vettel,German,Germany,37,Red Bull,Austria,Finished,4537.0,1.0,00:01:25.296000,00:01:24.090000,00:01:23.529000,64690.0,25.0,1.0,1.0,24660.0,35.0,1.0,1.0,14129.0,35.0,4.0,1.0,00:01:32.803000,2
8,841,2011,1,Melbourne,Australia,20779,20,9,1,1,25.0,58,1,Sebastian Vettel,German,Germany,37,Red Bull,Austria,Finished,4537.0,1.0,00:01:25.296000,00:01:24.090000,00:01:23.529000,64690.0,25.0,1.0,1.0,24660.0,35.0,1.0,1.0,14129.0,35.0,5.0,1.0,00:01:32.342000,2
9,841,2011,1,Melbourne,Australia,20779,20,9,1,1,25.0,58,1,Sebastian Vettel,German,Germany,37,Red Bull,Austria,Finished,4537.0,1.0,00:01:25.296000,00:01:24.090000,00:01:23.529000,64690.0,25.0,1.0,1.0,24660.0,35.0,1.0,1.0,14129.0,35.0,5.0,1.0,00:01:32.342000,2

In [15]:
final_df.shape

(582092, 39)

In [50]:
#pd.reset_option('display.max_columns')

In [17]:
final_df2 = final_df.loc[final_df['year']>2015]
final_df2.head()

,raceId,year,circuitId,circuit_location,circuit_country,resultId,driverId,constructorId,grid_position,results_position,results_points,results_laps,statusId,driver_name,driver_nationality,driver_home,driver_age,constructor_name,constructor_home,status,qualifyId,qual_position,q1,q2,q3,driverStandingsId,driv_std_points,driv_std_position,driv_std_wins,constructorStandingsId,con_std_points,con_std_position,con_std_wins,constructorResultsId,con_res_points,lap_tm_(lap),lap_tm_position,lap_time,total_pit_stops
261080,948,2016,1,Melbourne,Australia,22917,3,131,2,1,25.0,57,1,Nico Rosberg,German,Germany,39,Mercedes,Germany,Finished,6684.0,2.0,00:01:26.934000,00:01:24.796000,00:01:24.197000,68086.0,25.0,1.0,1.0,26557.0,43.0,1.0,1.0,15208.0,43.0,1.0,3.0,00:01:39.316000,2
261081,948,2016,1,Melbourne,Australia,22917,3,131,2,1,25.0,57,1,Nico Rosberg,German,Germany,39,Mercedes,Germany,Finished,6684.0,2.0,00:01:26.934000,00:01:24.796000,00:01:24.197000,68086.0,25.0,1.0,1.0,26557.0,43.0,1.0,1.0,15208.0,43.0,1.0,3.0,00:01:39.316000,2
261082,948,2016,1,Melbourne,Australia,22917,3,131,2,1,25.0,57,1,Nico Rosberg,German,Germany,39,Mercedes,Germany,Finished,6684.0,2.0,00:01:26.934000,00:01:24.796000,00:01:24.197000,68086.0,25.0,1.0,1.0,26557.0,43.0,1.0,1.0,15208.0,43.0,2.0,3.0,00:01:32.037000,2
261083,948,2016,1,Melbourne,Australia,22917,3,131,2,1,25.0,57,1,Nico Rosberg,German,Germany,39,Mercedes,Germany,Finished,6684.0,2.0,00:01:26.934000,00:01:24.796000,00:01:24.197000,68086.0,25.0,1.0,1.0,26557.0,43.0,1.0,1.0,15208.0,43.0,2.0,3.0,00:01:32.037000,2
261084,948,2016,1,Melbourne,Australia,22917,3,131,2,1,25.0,57,1,Nico Rosberg,German,Germany,39,Mercedes,Germany,Finished,6684.0,2.0,00:01:26.934000,00:01:24.796000,00:01:24.197000,68086.0,25.0,1.0,1.0,26557.0,43.0,1.0,1.0,15208.0,43.0,3.0,3.0,00:01:32.747000,2

In [18]:
final_df2.shape

(321012, 39)

In [19]:
final_df2 = final_df2.reset_index(drop=True)
final_df2.head(5)

,raceId,year,circuitId,circuit_location,circuit_country,resultId,driverId,constructorId,grid_position,results_position,results_points,results_laps,statusId,driver_name,driver_nationality,driver_home,driver_age,constructor_name,constructor_home,status,qualifyId,qual_position,q1,q2,q3,driverStandingsId,driv_std_points,driv_std_position,driv_std_wins,constructorStandingsId,con_std_points,con_std_position,con_std_wins,constructorResultsId,con_res_points,lap_tm_(lap),lap_tm_position,lap_time,total_pit_stops
0,948,2016,1,Melbourne,Australia,22917,3,131,2,1,25.0,57,1,Nico Rosberg,German,Germany,39,Mercedes,Germany,Finished,6684.0,2.0,00:01:26.934000,00:01:24.796000,00:01:24.197000,68086.0,25.0,1.0,1.0,26557.0,43.0,1.0,1.0,15208.0,43.0,1.0,3.0,00:01:39.316000,2
1,948,2016,1,Melbourne,Australia,22917,3,131,2,1,25.0,57,1,Nico Rosberg,German,Germany,39,Mercedes,Germany,Finished,6684.0,2.0,00:01:26.934000,00:01:24.796000,00:01:24.197000,68086.0,25.0,1.0,1.0,26557.0,43.0,1.0,1.0,15208.0,43.0,1.0,3.0,00:01:39.316000,2
2,948,2016,1,Melbourne,Australia,22917,3,131,2,1,25.0,57,1,Nico Rosberg,German,Germany,39,Mercedes,Germany,Finished,6684.0,2.0,00:01:26.934000,00:01:24.796000,00:01:24.197000,68086.0,25.0,1.0,1.0,26557.0,43.0,1.0,1.0,15208.0,43.0,2.0,3.0,00:01:32.037000,2
3,948,2016,1,Melbourne,Australia,22917,3,131,2,1,25.0,57,1,Nico Rosberg,German,Germany,39,Mercedes,Germany,Finished,6684.0,2.0,00:01:26.934000,00:01:24.796000,00:01:24.197000,68086.0,25.0,1.0,1.0,26557.0,43.0,1.0,1.0,15208.0,43.0,2.0,3.0,00:01:32.037000,2
4,948,2016,1,Melbourne,Australia,22917,3,131,2,1,25.0,57,1,Nico Rosberg,German,Germany,39,Mercedes,Germany,Finished,6684.0,2.0,00:01:26.934000,00:01:24.796000,00:01:24.197000,68086.0,25.0,1.0,1.0,26557.0,43.0,1.0,1.0,15208.0,43.0,3.0,3.0,00:01:32.747000,2

In [20]:
total_duplicates = final_df2.duplicated().sum()

print(f"Total duplicate rows: {total_duplicates}")

Total duplicate rows: 152726

In [21]:
final_df2.drop_duplicates(inplace=True)
final_df2.head()

,raceId,year,circuitId,circuit_location,circuit_country,resultId,driverId,constructorId,grid_position,results_position,results_points,results_laps,statusId,driver_name,driver_nationality,driver_home,driver_age,constructor_name,constructor_home,status,qualifyId,qual_position,q1,q2,q3,driverStandingsId,driv_std_points,driv_std_position,driv_std_wins,constructorStandingsId,con_std_points,con_std_position,con_std_wins,constructorResultsId,con_res_points,lap_tm_(lap),lap_tm_position,lap_time,total_pit_stops
0,948,2016,1,Melbourne,Australia,22917,3,131,2,1,25.0,57,1,Nico Rosberg,German,Germany,39,Mercedes,Germany,Finished,6684.0,2.0,00:01:26.934000,00:01:24.796000,00:01:24.197000,68086.0,25.0,1.0,1.0,26557.0,43.0,1.0,1.0,15208.0,43.0,1.0,3.0,00:01:39.316000,2
2,948,2016,1,Melbourne,Australia,22917,3,131,2,1,25.0,57,1,Nico Rosberg,German,Germany,39,Mercedes,Germany,Finished,6684.0,2.0,00:01:26.934000,00:01:24.796000,00:01:24.197000,68086.0,25.0,1.0,1.0,26557.0,43.0,1.0,1.0,15208.0,43.0,2.0,3.0,00:01:32.037000,2
4,948,2016,1,Melbourne,Australia,22917,3,131,2,1,25.0,57,1,Nico Rosberg,German,Germany,39,Mercedes,Germany,Finished,6684.0,2.0,00:01:26.934000,00:01:24.796000,00:01:24.197000,68086.0,25.0,1.0,1.0,26557.0,43.0,1.0,1.0,15208.0,43.0,3.0,3.0,00:01:32.747000,2
6,948,2016,1,Melbourne,Australia,22917,3,131,2,1,25.0,57,1,Nico Rosberg,German,Germany,39,Mercedes,Germany,Finished,6684.0,2.0,00:01:26.934000,00:01:24.796000,00:01:24.197000,68086.0,25.0,1.0,1.0,26557.0,43.0,1.0,1.0,15208.0,43.0,4.0,3.0,00:01:32.141000,2
8,948,2016,1,Melbourne,Australia,22917,3,131,2,1,25.0,57,1,Nico Rosberg,German,Germany,39,Mercedes,Germany,Finished,6684.0,2.0,00:01:26.934000,00:01:24.796000,00:01:24.197000,68086.0,25.0,1.0,1.0,26557.0,43.0,1.0,1.0,15208.0,43.0,5.0,3.0,00:01:31.575000,2

In [22]:
final_df2.shape

(168286, 39)

In [23]:
def get_weather_conditions(circuit_location, year):
    weather_data = {
    'Melbourne': {
        2016: 'Overcast', 2017: 'Overcast', 2018: 'Sunny', 2019: 'Sunny',
        2020: 'Event canceled due to COVID-19', 2021: 'Event canceled due to COVID-19', 
        2022: 'Sunny', 2023: 'Sunny'
    },
    'Sakhir': {
        2016: 'Dry', 2017: 'Dry', 2018: 'Dry', 2019: 'Dry', 
        2020: 'Dry', 2021: 'Dry', 2022: 'Dry', 2023: 'Dry'
    },
    'Shanghai': {
        2016: 'Overcast', 2017: 'Wet', 2018: 'Overcast', 2019: 'Overcast', 
        2020: 'Event canceled due to COVID-19', 2021: 'Event canceled due to COVID-19', 
        2022: 'Event canceled due to COVID-19', 2023: 'Event canceled due to COVID-19'
    },
    'Sochi': {
        2016: 'Sunny', 2017: 'Sunny', 2018: 'Overcast', 2019: 'Overcast', 
        2020: 'Overcast', 2021: 'Wet', 2022: 'Event canceled due to the Russian invasion of Ukraine',
        2023: 'Event canceled due to the Russian invasion of Ukraine'
    },
    'Montmeló': {
        2016: 'Sunny', 2017: 'Sunny', 2018: 'Sunny', 2019: 'Sunny', 
        2020: 'Sunny', 2021: 'Sunny', 2022: 'Overcast', 2023: 'Sunny'
    },
    'Monte-Carlo': {
        2016: 'Wet', 2017: 'Sunny', 2018: 'Sunny', 2019: 'Sunny', 
        2020: 'Event canceled due to COVID-19', 2021: 'Sunny', 2022: 'Wet', 2023: 'Sunny'
    },
    'Montreal': {
        2016: 'Overcast', 2017: 'Sunny', 2018: 'Sunny', 2019: 'Sunny', 
        2020: 'Event canceled due to COVID-19', 2021: 'Event canceled due to COVID-19', 
        2022: 'Overcast', 2023: 'Sunny'
    },
    'Baku': {
        2016: 'Sunny', 2017: 'Overcast', 2018: 'Overcast', 2019: 'Sunny', 
        2020: 'Event canceled due to COVID-19', 2021: 'Sunny', 2022: 'Sunny', 2023: 'Sunny'
    },
    'Spielberg': {
        2016: 'Sunny', 2017: 'Overcast', 2018: 'Sunny', 2019: 'Sunny', 
        2020: 'Sunny', 2021: 'Sunny', 2022: 'Sunny', 2023: 'Sunny'
    },
    'Silverstone': {
        2016: 'Wet', 2017: 'Overcast', 2018: 'Sunny', 2019: 'Overcast', 
        2020: 'Overcast', 2021: 'Sunny', 2022: 'Wet', 2023: 'Overcast'
    },
    'Budapest': {
        2016: 'Sunny', 2017: 'Sunny', 2018: 'Overcast', 2019: 'Sunny', 
        2020: 'Wet', 2021: 'Overcast', 2022: 'Overcast', 2023: 'Sunny'
    },
    'Hockenheim': {
        2016: 'No race', 2017: 'No race', 2018: 'Wet', 2019: 'Wet', 
        2020: 'No race', 2021: 'No race', 2022: 'No race', 2023: 'No race'
    },
    'Spa': {
        2016: 'Sunny', 2017: 'Sunny', 2018: 'Overcast', 2019: 'Overcast', 
        2020: 'Wet', 2021: 'Wet', 2022: 'Sunny', 2023: 'Sunny'
    },
    'Monza': {
        2016: 'Sunny', 2017: 'Sunny', 2018: 'Overcast', 2019: 'Sunny', 
        2020: 'Sunny', 2021: 'Sunny', 2022: 'Overcast', 2023: 'Sunny'
    },
    'Marina Bay': {
        2016: 'Overcast', 2017: 'Wet', 2018: 'Overcast', 2019: 'Overcast', 
        2020: 'Event canceled due to COVID-19', 2021: 'Event canceled due to COVID-19', 
        2022: 'Wet', 2023: 'Overcast'
    },
    'Kuala Lumpur': {
        2016: 'Sunny', 2017: 'Overcast', 2018: 'No race', 2019: 'No race',
        2020: 'No race', 2021: 'No race', 2022: 'No race', 2023: 'No race'
    },
    'Suzuka': {
        2016: 'Sunny', 2017: 'Wet', 2018: 'Overcast', 2019: 'Wet',
        2020: 'Event canceled due to COVID-19', 2021: 'Event canceled due to COVID-19', 
        2022: 'Sunny', 2023: 'Overcast'
    },
    'Austin': {
        2016: 'Overcast', 2017: 'Sunny', 2018: 'Wet', 2019: 'Overcast',
        2020: 'Overcast', 2021: 'Sunny', 2022: 'Sunny', 2023: 'Sunny'
    },
    'Mexico City': {
        2016: 'Sunny', 2017: 'Sunny', 2018: 'Overcast', 2019: 'Overcast',
        2020: 'Event canceled due to COVID-19', 2021: 'Sunny', 2022: 'Sunny', 2023: 'Sunny'
    },
    'São Paulo': {
        2016: 'Wet', 2017: 'Sunny', 2018: 'Overcast', 2019: 'Wet',
        2020: 'Event canceled due to COVID-19', 2021: 'Overcast', 2022: 'Wet', 2023: 'Sunny'
    },
    'Abu Dhabi': {
        2016: 'Dry', 2017: 'Dry', 2018: 'Dry', 2019: 'Dry',
        2020: 'Dry', 2021: 'Dry', 2022: 'Dry', 2023: 'Dry'
    },
    'Le Castellet': {
        2016: 'No race', 2017: 'No race', 2018: 'Sunny', 2019: 'Sunny',
        2020: 'Event canceled due to COVID-19', 2021: 'Sunny', 2022: 'Sunny', 2023: 'No race'
    },
    'Mugello': {
        2016: 'No race', 2017: 'No race', 2018: 'No race', 2019: 'No race',
        2020: 'Sunny', 2021: 'No race', 2022: 'No race', 2023: 'No race'
    },
    'Nürburg': {
        2016: 'No race', 2017: 'No race', 2018: 'No race', 2019: 'No race',
        2020: 'Wet', 2021: 'No race', 2022: 'No race', 2023: 'No race'
    },
    'Portimão': {
        2016: 'No race', 2017: 'No race', 2018: 'No race', 2019: 'No race',
        2020: 'Sunny', 2021: 'Sunny', 2022: 'No race', 2023: 'No race'
    },
    'Imola': {
        2016: 'No race', 2017: 'No race', 2018: 'No race', 2019: 'No race',
        2020: 'Overcast', 2021: 'Wet', 2022: 'Overcast', 2023: 'Sunny'
    },
    'Istanbul': {
    2016: 'No race', 2017: 'No race', 2018: 'No race', 2019: 'No race',
    2020: 'Wet', 2021: 'Overcast', 2022: 'No race', 2023: 'No race'
    },
    'Al Daayen': {
    2016: 'No race', 2017: 'No race', 2018: 'No race', 2019: 'No race',
    2020: 'No race', 2021: 'Sunny', 2022: 'Sunny', 2023: 'Sunny'
    },
    'Zandvoort': {
        2016: 'No race', 2017: 'No race', 2018: 'No race', 2019: 'No race',
        2020: 'Event canceled due to COVID-19', 2021: 'Sunny', 2022: 'Sunny', 2023: 'Sunny'
    },
    'Jeddah': {
        2016: 'No race', 2017: 'No race', 2018: 'No race', 2019: 'No race',
        2020: 'No race', 2021: 'Dry', 2022: 'Dry', 2023: 'Dry'
    },
    'Miami': {
        2016: 'No race', 2017: 'No race', 2018: 'No race', 2019: 'No race',
        2020: 'No race', 2021: 'No race', 2022: 'Overcast', 2023: 'Sunny'
    }
    }
    
    return weather_data.get(circuit_location, {}).get(year, 'Unknown')

# Apply the function to create the 'weather_conditions' column
final_df2['weather_conditions'] = final_df2.apply(lambda row: get_weather_conditions(row['circuit_location'], row['year']), axis=1)

In [ ]:
final_df2.head()

In [ ]:
final_df2.weather_conditions.unique()

In [24]:
# Assuming you have a DataFrame df with columns 'driver_age' and 'year'
current_year = 2023  # Adjust this value if the 'driver_age' column refers to a different year

# Calculate the age of the driver at the time of each race
final_df2['driver_age_atrace'] = final_df2['driver_age'] - (current_year - final_df2['year'])
final_df2.head()

,raceId,year,circuitId,circuit_location,circuit_country,resultId,driverId,constructorId,grid_position,results_position,results_points,results_laps,statusId,driver_name,driver_nationality,driver_home,driver_age,constructor_name,constructor_home,status,qualifyId,qual_position,q1,q2,q3,driverStandingsId,driv_std_points,driv_std_position,driv_std_wins,constructorStandingsId,con_std_points,con_std_position,con_std_wins,constructorResultsId,con_res_points,lap_tm_(lap),lap_tm_position,lap_time,total_pit_stops,weather_conditions,driver_age_atrace
0,948,2016,1,Melbourne,Australia,22917,3,131,2,1,25.0,57,1,Nico Rosberg,German,Germany,39,Mercedes,Germany,Finished,6684.0,2.0,00:01:26.934000,00:01:24.796000,00:01:24.197000,68086.0,25.0,1.0,1.0,26557.0,43.0,1.0,1.0,15208.0,43.0,1.0,3.0,00:01:39.316000,2,Overcast,32
2,948,2016,1,Melbourne,Australia,22917,3,131,2,1,25.0,57,1,Nico Rosberg,German,Germany,39,Mercedes,Germany,Finished,6684.0,2.0,00:01:26.934000,00:01:24.796000,00:01:24.197000,68086.0,25.0,1.0,1.0,26557.0,43.0,1.0,1.0,15208.0,43.0,2.0,3.0,00:01:32.037000,2,Overcast,32
4,948,2016,1,Melbourne,Australia,22917,3,131,2,1,25.0,57,1,Nico Rosberg,German,Germany,39,Mercedes,Germany,Finished,6684.0,2.0,00:01:26.934000,00:01:24.796000,00:01:24.197000,68086.0,25.0,1.0,1.0,26557.0,43.0,1.0,1.0,15208.0,43.0,3.0,3.0,00:01:32.747000,2,Overcast,32
6,948,2016,1,Melbourne,Australia,22917,3,131,2,1,25.0,57,1,Nico Rosberg,German,Germany,39,Mercedes,Germany,Finished,6684.0,2.0,00:01:26.934000,00:01:24.796000,00:01:24.197000,68086.0,25.0,1.0,1.0,26557.0,43.0,1.0,1.0,15208.0,43.0,4.0,3.0,00:01:32.141000,2,Overcast,32
8,948,2016,1,Melbourne,Australia,22917,3,131,2,1,25.0,57,1,Nico Rosberg,German,Germany,39,Mercedes,Germany,Finished,6684.0,2.0,00:01:26.934000,00:01:24.796000,00:01:24.197000,68086.0,25.0,1.0,1.0,26557.0,43.0,1.0,1.0,15208.0,43.0,5.0,3.0,00:01:31.575000,2,Overcast,32

In [25]:
final_df2 = final_df2.loc[final_df2['weather_conditions']!='No race']
final_df2.shape

(166870, 41)

In [26]:
final_df2 = final_df2.reset_index(drop=True)
final_df2.head(10)

,raceId,year,circuitId,circuit_location,circuit_country,resultId,driverId,constructorId,grid_position,results_position,results_points,results_laps,statusId,driver_name,driver_nationality,driver_home,driver_age,constructor_name,constructor_home,status,qualifyId,qual_position,q1,q2,q3,driverStandingsId,driv_std_points,driv_std_position,driv_std_wins,constructorStandingsId,con_std_points,con_std_position,con_std_wins,constructorResultsId,con_res_points,lap_tm_(lap),lap_tm_position,lap_time,total_pit_stops,weather_conditions,driver_age_atrace
0,948,2016,1,Melbourne,Australia,22917,3,131,2,1,25.0,57,1,Nico Rosberg,German,Germany,39,Mercedes,Germany,Finished,6684.0,2.0,00:01:26.934000,00:01:24.796000,00:01:24.197000,68086.0,25.0,1.0,1.0,26557.0,43.0,1.0,1.0,15208.0,43.0,1.0,3.0,00:01:39.316000,2,Overcast,32
1,948,2016,1,Melbourne,Australia,22917,3,131,2,1,25.0,57,1,Nico Rosberg,German,Germany,39,Mercedes,Germany,Finished,6684.0,2.0,00:01:26.934000,00:01:24.796000,00:01:24.197000,68086.0,25.0,1.0,1.0,26557.0,43.0,1.0,1.0,15208.0,43.0,2.0,3.0,00:01:32.037000,2,Overcast,32
2,948,2016,1,Melbourne,Australia,22917,3,131,2,1,25.0,57,1,Nico Rosberg,German,Germany,39,Mercedes,Germany,Finished,6684.0,2.0,00:01:26.934000,00:01:24.796000,00:01:24.197000,68086.0,25.0,1.0,1.0,26557.0,43.0,1.0,1.0,15208.0,43.0,3.0,3.0,00:01:32.747000,2,Overcast,32
3,948,2016,1,Melbourne,Australia,22917,3,131,2,1,25.0,57,1,Nico Rosberg,German,Germany,39,Mercedes,Germany,Finished,6684.0,2.0,00:01:26.934000,00:01:24.796000,00:01:24.197000,68086.0,25.0,1.0,1.0,26557.0,43.0,1.0,1.0,15208.0,43.0,4.0,3.0,00:01:32.141000,2,Overcast,32
4,948,2016,1,Melbourne,Australia,22917,3,131,2,1,25.0,57,1,Nico Rosberg,German,Germany,39,Mercedes,Germany,Finished,6684.0,2.0,00:01:26.934000,00:01:24.796000,00:01:24.197000,68086.0,25.0,1.0,1.0,26557.0,43.0,1.0,1.0,15208.0,43.0,5.0,3.0,00:01:31.575000,2,Overcast,32
5,948,2016,1,Melbourne,Australia,22917,3,131,2,1,25.0,57,1,Nico Rosberg,German,Germany,39,Mercedes,Germany,Finished,6684.0,2.0,00:01:26.934000,00:01:24.796000,00:01:24.197000,68086.0,25.0,1.0,1.0,26557.0,43.0,1.0,1.0,15208.0,43.0,6.0,3.0,00:01:32.468000,2,Overcast,32
6,948,2016,1,Melbourne,Australia,22917,3,131,2,1,25.0,57,1,Nico Rosberg,German,Germany,39,Mercedes,Germany,Finished,6684.0,2.0,00:01:26.934000,00:01:24.796000,00:01:24.197000,68086.0,25.0,1.0,1.0,26557.0,43.0,1.0,1.0,15208.0,43.0,7.0,3.0,00:01:32.464000,2,Overcast,32
7,948,2016,1,Melbourne,Australia,22917,3,131,2,1,25.0,57,1,Nico Rosberg,German,Germany,39,Mercedes,Germany,Finished,6684.0,2.0,00:01:26.934000,00:01:24.796000,00:01:24.197000,68086.0,25.0,1.0,1.0,26557.0,43.0,1.0,1.0,15208.0,43.0,8.0,3.0,00:01:32.625000,2,Overcast,32
8,948,2016,1,Melbourne,Australia,22917,3,131,2,1,25.0,57,1,Nico Rosberg,German,Germany,39,Mercedes,Germany,Finished,6684.0,2.0,00:01:26.934000,00:01:24.796000,00:01:24.197000,68086.0,25.0,1.0,1.0,26557.0,43.0,1.0,1.0,15208.0,43.0,9.0,3.0,00:01:32.557000,2,Overcast,32
9,948,2016,1,Melbourne,Australia,22917,3,131,2,1,25.0,57,1,Nico Rosberg,German,Germany,39,Mercedes,Germany,Finished,6684.0,2.0,00:01:26.934000,00:01:24.796000,00:01:24.197000,68086.0,25.0,1.0,1.0,26557.0,43.0,1.0,1.0,15208.0,43.0,10.0,3.0,00:01:32.581000,2,Overcast,32

In [ ]:
final_df2.columns

In [27]:
final_df3 = final_df2[['driverId','raceId','circuit_location', 'circuit_country', 'grid_position','results_position','results_points', 'results_laps', 'driver_nationality', 'driver_home', 'driver_age_atrace', 'constructor_name', 'constructor_home', 'status', 'qual_position', 'q1', 'q2', 'q3','lap_tm_(lap)', 'lap_tm_position', 'lap_time', 'total_pit_stops','weather_conditions']]
final_df3.head()

,driverId,raceId,circuit_location,circuit_country,grid_position,results_position,results_points,results_laps,driver_nationality,driver_home,driver_age_atrace,constructor_name,constructor_home,status,qual_position,q1,q2,q3,lap_tm_(lap),lap_tm_position,lap_time,total_pit_stops,weather_conditions
0,3,948,Melbourne,Australia,2,1,25.0,57,German,Germany,32,Mercedes,Germany,Finished,2.0,00:01:26.934000,00:01:24.796000,00:01:24.197000,1.0,3.0,00:01:39.316000,2,Overcast
1,3,948,Melbourne,Australia,2,1,25.0,57,German,Germany,32,Mercedes,Germany,Finished,2.0,00:01:26.934000,00:01:24.796000,00:01:24.197000,2.0,3.0,00:01:32.037000,2,Overcast
2,3,948,Melbourne,Australia,2,1,25.0,57,German,Germany,32,Mercedes,Germany,Finished,2.0,00:01:26.934000,00:01:24.796000,00:01:24.197000,3.0,3.0,00:01:32.747000,2,Overcast
3,3,948,Melbourne,Australia,2,1,25.0,57,German,Germany,32,Mercedes,Germany,Finished,2.0,00:01:26.934000,00:01:24.796000,00:01:24.197000,4.0,3.0,00:01:32.141000,2,Overcast
4,3,948,Melbourne,Australia,2,1,25.0,57,German,Germany,32,Mercedes,Germany,Finished,2.0,00:01:26.934000,00:01:24.796000,00:01:24.197000,5.0,3.0,00:01:31.575000,2,Overcast

In [28]:
final_df3.shape

(166870, 23)

In [ ]:
final_df3.dtypes

In [29]:
final_df3.isnull().sum()

driverId                  0
raceId                    0
circuit_location          0
circuit_country           0
grid_position             0
results_position          0
results_points            0
results_laps              0
driver_nationality        0
driver_home               0
driver_age_atrace         0
constructor_name          0
constructor_home          0
status                    0
qual_position           499
q1                      939
q2                     8273
q3                    16844
lap_tm_(lap)              0
lap_tm_position           0
lap_time                  0
total_pit_stops           0
weather_conditions        0
dtype: int64

In [ ]:
with pd.option_context('mode.chained_assignment', None):
    final_df3.dropna(subset=['q3'], inplace=True)
final_df3.isnull().sum()

In [ ]:
final_df3.shape

In [30]:
for column in ['q1', 'q2', 'q3','lap_time']:
    # Truncate the string to keep three decimal places
    final_df3[column] = final_df3[column].str.replace(r'(\.\d{3})\d*', r'\1', regex=True)
    # Convert to timedelta
    final_df3[column] = pd.to_timedelta(final_df3[column])

/var/folders/q6/0pfb75k55856k8_ms3tldx240000gn/T/ipykernel_1744/1515655406.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df3[column] = final_df3[column].str.replace(r'(\.\d{3})\d*', r'\1', regex=True)
/var/folders/q6/0pfb75k55856k8_ms3tldx240000gn/T/ipykernel_1744/1515655406.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df3[column] = pd.to_timedelta(final_df3[column])

In [31]:
final_df3.head()

,driverId,raceId,circuit_location,circuit_country,grid_position,results_position,results_points,results_laps,driver_nationality,driver_home,driver_age_atrace,constructor_name,constructor_home,status,qual_position,q1,q2,q3,lap_tm_(lap),lap_tm_position,lap_time,total_pit_stops,weather_conditions
0,3,948,Melbourne,Australia,2,1,25.0,57,German,Germany,32,Mercedes,Germany,Finished,2.0,0 days 00:01:26.934000,0 days 00:01:24.796000,0 days 00:01:24.197000,1.0,3.0,0 days 00:01:39.316000,2,Overcast
1,3,948,Melbourne,Australia,2,1,25.0,57,German,Germany,32,Mercedes,Germany,Finished,2.0,0 days 00:01:26.934000,0 days 00:01:24.796000,0 days 00:01:24.197000,2.0,3.0,0 days 00:01:32.037000,2,Overcast
2,3,948,Melbourne,Australia,2,1,25.0,57,German,Germany,32,Mercedes,Germany,Finished,2.0,0 days 00:01:26.934000,0 days 00:01:24.796000,0 days 00:01:24.197000,3.0,3.0,0 days 00:01:32.747000,2,Overcast
3,3,948,Melbourne,Australia,2,1,25.0,57,German,Germany,32,Mercedes,Germany,Finished,2.0,0 days 00:01:26.934000,0 days 00:01:24.796000,0 days 00:01:24.197000,4.0,3.0,0 days 00:01:32.141000,2,Overcast
4,3,948,Melbourne,Australia,2,1,25.0,57,German,Germany,32,Mercedes,Germany,Finished,2.0,0 days 00:01:26.934000,0 days 00:01:24.796000,0 days 00:01:24.197000,5.0,3.0,0 days 00:01:31.575000,2,Overcast

In [ ]:
final_df3.dtypes

In [32]:
for column in ['q1', 'q2', 'q3','lap_time']:
    final_df3[column] = final_df3[column].dt.total_seconds()

final_df3.head()

/var/folders/q6/0pfb75k55856k8_ms3tldx240000gn/T/ipykernel_1744/339179628.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df3[column] = final_df3[column].dt.total_seconds()

,driverId,raceId,circuit_location,circuit_country,grid_position,results_position,results_points,results_laps,driver_nationality,driver_home,driver_age_atrace,constructor_name,constructor_home,status,qual_position,q1,q2,q3,lap_tm_(lap),lap_tm_position,lap_time,total_pit_stops,weather_conditions
0,3,948,Melbourne,Australia,2,1,25.0,57,German,Germany,32,Mercedes,Germany,Finished,2.0,86.934,84.796,84.197,1.0,3.0,99.316,2,Overcast
1,3,948,Melbourne,Australia,2,1,25.0,57,German,Germany,32,Mercedes,Germany,Finished,2.0,86.934,84.796,84.197,2.0,3.0,92.037,2,Overcast
2,3,948,Melbourne,Australia,2,1,25.0,57,German,Germany,32,Mercedes,Germany,Finished,2.0,86.934,84.796,84.197,3.0,3.0,92.747,2,Overcast
3,3,948,Melbourne,Australia,2,1,25.0,57,German,Germany,32,Mercedes,Germany,Finished,2.0,86.934,84.796,84.197,4.0,3.0,92.141,2,Overcast
4,3,948,Melbourne,Australia,2,1,25.0,57,German,Germany,32,Mercedes,Germany,Finished,2.0,86.934,84.796,84.197,5.0,3.0,91.575,2,Overcast

In [33]:
final_df3.to_csv('Final_Dataset.csv',index=False)