In [1]:
import pandas as pd

In [2]:
cl_con_std = pd.read_csv('/Users/rahul/Desktop/archive/cleaned_constructor_standings.csv')
cl_con_std.head()

   constructorStandingsId  raceId  constructorId  points  position  wins
0                       1      18              1    14.0         1     1
1                       2      18              2     8.0         3     0
2                       3      18              3     9.0         2     0
3                       4      18              4     5.0         4     0
4                       5      18              5     2.0         5     0

In [3]:
cl_con_std.columns

Index(['constructorStandingsId', 'raceId', 'constructorId', 'points',
       'position', 'wins'],
      dtype='object')

In [4]:
cl_con_std.constructorStandingsId.nunique()

13051

In [5]:
cl_con_std.constructorId.nunique()

159

In [6]:
cl_con_std.raceId.nunique()

1027

In [7]:
cl_con_std.shape

(13051, 6)

In [8]:
cl_con_std.rename(columns={'points': 'con_std_points'}, inplace=True)
cl_con_std.rename(columns={'position': 'con_std_position'}, inplace=True)
cl_con_std.rename(columns={'wins': 'con_std_wins'}, inplace=True)

In [9]:
cl_con_std.to_csv('cl_con_stand.csv',index=False)