In [2]:
import pandas as pd

In [3]:
cl_driv = pd.read_csv('/Users/rahul/Desktop/archive/cleaned_drivers.csv')
cl_driv.head()

,driverId,driver_code,driver_forename,driver_surname,driver_dob,driver_nationality,driver_home
0,1,HAM,Lewis,Hamilton,1985-01-07,British,UK
1,2,HEI,Nick,Heidfeld,1977-05-10,German,Germany
2,3,ROS,Nico,Rosberg,1985-06-27,German,Germany
3,4,ALO,Fernando,Alonso,1981-07-29,Spanish,Spain
4,5,KOV,Heikki,Kovalainen,1981-10-19,Finnish,Finland

In [4]:
cl_driv['driver_name'] = cl_driv['driver_forename'] + ' ' + cl_driv['driver_surname']
cl_driv.head()

,driverId,driver_code,driver_forename,driver_surname,driver_dob,driver_nationality,driver_home,driver_name
0,1,HAM,Lewis,Hamilton,1985-01-07,British,UK,Lewis Hamilton
1,2,HEI,Nick,Heidfeld,1977-05-10,German,Germany,Nick Heidfeld
2,3,ROS,Nico,Rosberg,1985-06-27,German,Germany,Nico Rosberg
3,4,ALO,Fernando,Alonso,1981-07-29,Spanish,Spain,Fernando Alonso
4,5,KOV,Heikki,Kovalainen,1981-10-19,Finnish,Finland,Heikki Kovalainen

In [5]:
cl_driv.insert(2, 'driver_name', cl_driv.pop('driver_name'))
cl_driv.drop(columns=['driver_forename','driver_surname','driver_code'],inplace=True)
cl_driv.head()

   driverId        driver_name  driver_dob driver_nationality driver_home
0         1     Lewis Hamilton  1985-01-07            British          UK
1         2      Nick Heidfeld  1977-05-10             German     Germany
2         3       Nico Rosberg  1985-06-27             German     Germany
3         4    Fernando Alonso  1981-07-29            Spanish       Spain
4         5  Heikki Kovalainen  1981-10-19            Finnish     Finland

In [6]:
cl_driv['driver_dob'] = pd.to_datetime(cl_driv['driver_dob'], format='%Y-%m-%d')
current_date = pd.Timestamp.now()
cl_driv['driver_age'] = current_date.year - cl_driv['driver_dob'].dt.year
cl_driv['driver_age'] -= ((current_date.month < cl_driv['driver_dob'].dt.month) | 
                   ((current_date.month == cl_driv['driver_dob'].dt.month) & 
                    (current_date.day < cl_driv['driver_dob'].dt.day)))

cl_driv.drop('driver_dob',axis=1,inplace=True)
cl_driv.head()

   driverId        driver_name driver_nationality driver_home  driver_age
0         1     Lewis Hamilton            British          UK          39
1         2      Nick Heidfeld             German     Germany          47
2         3       Nico Rosberg             German     Germany          39
3         4    Fernando Alonso            Spanish       Spain          43
4         5  Heikki Kovalainen            Finnish     Finland          42

In [7]:
cl_driv.columns

Index(['driverId', 'driver_name', 'driver_nationality', 'driver_home',
       'driver_age'],
      dtype='object')

In [8]:
cl_driv.driverId.nunique()

857

In [9]:
cl_driv.shape

(857, 5)

In [10]:
cl_driv.to_csv('cl_drivers.csv',index=False)