In [1]:
import pandas as pd

In [2]:
cl_driv_stand = pd.read_csv('/Users/rahul/Desktop/archive/cleaned_driver_standings.csv')
cl_driv_stand.head()

   driverStandingsId  raceId  driverId  points  position  wins
0                  1      18         1    10.0         1     1
1                  2      18         2     8.0         2     0
2                  3      18         3     6.0         3     0
3                  4      18         4     5.0         4     0
4                  5      18         5     4.0         5     0

In [3]:
cl_driv_stand.columns

Index(['driverStandingsId', 'raceId', 'driverId', 'points', 'position',
       'wins'],
      dtype='object')

In [4]:
cl_driv_stand.driverStandingsId.nunique()

34124

In [5]:
cl_driv_stand.driverId.nunique()

850

In [6]:
cl_driv_stand.raceId.nunique()

1091

In [7]:
cl_driv_stand.shape

(34124, 6)

In [8]:
cl_driv_stand.rename(columns={'points': 'driv_std_points'}, inplace=True)
cl_driv_stand.rename(columns={'wins': 'driv_std_wins'}, inplace=True)
cl_driv_stand.rename(columns={'position': 'driv_std_position'}, inplace=True)

In [9]:
cl_driv_stand.to_csv('cl_driv_standings.csv',index=False)