In [5]:
import pandas as pd

In [6]:
cl_lap_tm = pd.read_csv('/Users/rahul/Desktop/archive/cleaned_lap_times.csv')
cl_lap_tm.head()

   raceId  driverId  lap  position                lap_time
0     841        20    1         1  0 days 00:01:38.109000
1     841        20    2         1  0 days 00:01:33.006000
2     841        20    3         1  0 days 00:01:32.713000
3     841        20    4         1  0 days 00:01:32.803000
4     841        20    5         1  0 days 00:01:32.342000

In [7]:
cl_lap_tm.dtypes

raceId       int64
driverId     int64
lap          int64
position     int64
lap_time    object
dtype: object

In [8]:
cl_lap_tm['lap_time'] = cl_lap_tm['lap_time'].astype(str).str[-15:]
cl_lap_tm.head()

   raceId  driverId  lap  position         lap_time
0     841        20    1         1  00:01:38.109000
1     841        20    2         1  00:01:33.006000
2     841        20    3         1  00:01:32.713000
3     841        20    4         1  00:01:32.803000
4     841        20    5         1  00:01:32.342000

In [9]:
cl_lap_tm.columns

Index(['raceId', 'driverId', 'lap', 'position', 'lap_time'], dtype='object')

In [10]:
cl_lap_tm.raceId.nunique()

510

In [11]:
cl_lap_tm.driverId.nunique()

139

In [12]:
cl_lap_tm.shape

(551742, 5)

In [13]:
cl_lap_tm.rename(columns={'position': 'lap_tm_position'}, inplace=True)
cl_lap_tm.rename(columns={'lap': 'lap_tm_(lap)'}, inplace=True)

In [14]:
cl_lap_tm.to_csv('cl_laptm.csv',index=False)