In [36]:
import pandas as pd

In [37]:
cl_qual = pd.read_csv('/Users/rahul/Desktop/archive/cleaned_qualifying.csv')
cl_qual.head()

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
0,1,18,1,1,22,1,0 days 00:01:26.572000,0 days 00:01:25.187000,0 days 00:01:26.714000
1,2,18,9,2,4,2,0 days 00:01:26.103000,0 days 00:01:25.315000,0 days 00:01:26.869000
2,3,18,5,1,23,3,0 days 00:01:25.664000,0 days 00:01:25.452000,0 days 00:01:27.079000
3,4,18,13,6,2,4,0 days 00:01:25.994000,0 days 00:01:25.691000,0 days 00:01:27.178000
4,5,18,2,2,3,5,0 days 00:01:25.960000,0 days 00:01:25.518000,0 days 00:01:27.236000

In [38]:
cl_qual['q1'] = cl_qual['q1'].astype(str).str[-15:]
cl_qual['q2'] = cl_qual['q2'].astype(str).str[-15:]
cl_qual['q3'] = cl_qual['q3'].astype(str).str[-15:]
cl_qual.head()

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
0,1,18,1,1,22,1,00:01:26.572000,00:01:25.187000,00:01:26.714000
1,2,18,9,2,4,2,00:01:26.103000,00:01:25.315000,00:01:26.869000
2,3,18,5,1,23,3,00:01:25.664000,00:01:25.452000,00:01:27.079000
3,4,18,13,6,2,4,00:01:25.994000,00:01:25.691000,00:01:27.178000
4,5,18,2,2,3,5,00:01:25.960000,00:01:25.518000,00:01:27.236000

In [39]:
cl_qual.drop(columns='number',inplace=True)
cl_qual.head()

,qualifyId,raceId,driverId,constructorId,position,q1,q2,q3
0,1,18,1,1,1,00:01:26.572000,00:01:25.187000,00:01:26.714000
1,2,18,9,2,2,00:01:26.103000,00:01:25.315000,00:01:26.869000
2,3,18,5,1,3,00:01:25.664000,00:01:25.452000,00:01:27.079000
3,4,18,13,6,4,00:01:25.994000,00:01:25.691000,00:01:27.178000
4,5,18,2,2,5,00:01:25.960000,00:01:25.518000,00:01:27.236000

In [40]:
cl_qual.columns

Index(['qualifyId', 'raceId', 'driverId', 'constructorId', 'position', 'q1',
       'q2', 'q3'],
      dtype='object')

In [41]:
cl_qual.qualifyId.nunique()

9815

In [42]:
cl_qual.raceId.nunique()

460

In [43]:
cl_qual.driverId.nunique()

168

In [44]:
cl_qual.constructorId.nunique()

46

In [45]:
cl_qual.shape

(9815, 8)

In [46]:
cl_qual.rename(columns={'position': 'qual_position'}, inplace=True)

In [47]:
cl_qual.to_csv('cl_qualifying.csv',index=False)