In [1]:
import pandas as pd

In [2]:
cl_res = pd.read_csv('/Users/rahul/Desktop/archive/cleaned_results.csv')
cl_res.head()

,resultId,raceId,driverId,constructorId,grid_position,position,points,laps,fastestLap,fastestLapRank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,1,1,10.0,58,39,2,0 days 00:01:27.452000,218.300,1
1,2,18,2,2,5,2,8.0,58,41,3,0 days 00:01:27.739000,217.586,1
2,3,18,3,3,7,3,6.0,58,41,5,0 days 00:01:28.090000,216.719,1
3,4,18,4,4,11,4,5.0,58,58,7,0 days 00:01:28.603000,215.464,1
4,5,18,5,1,3,5,4.0,58,43,1,0 days 00:01:27.418000,218.385,1

In [3]:
cl_res.drop(columns=['fastestLapRank','fastestLap','fastestLapSpeed','fastestLapTime'],inplace=True)
cl_res.head()

,resultId,raceId,driverId,constructorId,grid_position,position,points,laps,statusId
0,1,18,1,1,1,1,10.0,58,1
1,2,18,2,2,5,2,8.0,58,1
2,3,18,3,3,7,3,6.0,58,1
3,4,18,4,4,11,4,5.0,58,1
4,5,18,5,1,3,5,4.0,58,1

In [4]:
cl_res.columns

Index(['resultId', 'raceId', 'driverId', 'constructorId', 'grid_position',
       'position', 'points', 'laps', 'statusId'],
      dtype='object')

In [5]:
cl_res.resultId.nunique()

26080

In [6]:
cl_res.raceId.nunique()

1091

In [7]:
cl_res.driverId.nunique()

857

In [8]:
cl_res.constructorId.nunique()

210

In [9]:
cl_res.statusId.nunique()

137

In [10]:
cl_res.shape

(26080, 9)

In [11]:
cl_res.rename(columns={'position': 'results_position'}, inplace=True)
cl_res.rename(columns={'points': 'results_points'}, inplace=True)
cl_res.rename(columns={'laps': 'results_laps'}, inplace=True)

In [12]:
cl_res.to_csv('cl_results.csv',index=False)