In [2]:
import pandas as pd

In [3]:
cl_races = pd.read_csv('/Users/rahul/Desktop/archive/cleaned_races.csv')
cl_races.head()

   raceId  year  round  circuitId
0       1  2009      1          1
1       2  2009      2          2
2       3  2009      3         17
3       4  2009      4          3
4       5  2009      5          4

In [4]:
cl_races.year.unique()

array([2009, 2008, 2007, 2006, 2005, 2004, 2003, 2002, 2001, 2000, 1999,
       1998, 1997, 1996, 1995, 1994, 1993, 1992, 1991, 1990, 2010, 1989,
       1988, 1987, 1986, 1985, 1984, 1983, 1982, 1981, 1980, 1979, 1978,
       1977, 1976, 1975, 1974, 1973, 1972, 1971, 1970, 1969, 1968, 1967,
       1966, 1965, 1964, 1963, 1962, 1961, 1960, 1959, 1958, 1957, 1956,
       1955, 1954, 1953, 1952, 1951, 1950, 2011, 2012, 2013, 2014, 2015,
       2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023])

In [5]:
cl_races.year.dtype

dtype('int64')

In [6]:
cl_races = cl_races.loc[cl_races['year']>=2010]
cl_races.head()

     raceId  year  round  circuitId
336     337  2010      1          3
337     338  2010      2          1
338     339  2010      3          2
339     340  2010      4         17
340     341  2010      5          4

In [7]:
cl_races.year.unique()

array([2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020,
       2021, 2022, 2023])

In [8]:
cl_races['round'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22])

In [9]:
cl_races.columns

Index(['raceId', 'year', 'round', 'circuitId'], dtype='object')

In [10]:
cl_races.drop(columns='round',inplace=True)
cl_races.head()

     raceId  year  circuitId
336     337  2010          3
337     338  2010          1
338     339  2010          2
339     340  2010         17
340     341  2010          4

In [11]:
cl_races.columns

Index(['raceId', 'year', 'circuitId'], dtype='object')

In [12]:
cl_races.raceId.nunique()

281

In [13]:
cl_races.circuitId.nunique()

35

In [14]:
cl_races.shape

(281, 3)

In [15]:
cl_races.to_csv('cl_races.csv',index=False)