In [6]:
import pandas as pd

In [7]:
cl_status = pd.read_csv('/Users/rahul/Desktop/archive/cleaned_status.csv')
cl_status.head()

   statusId        status
0         1      Finished
1         2  Disqualified
2         3      Accident
3         4     Collision
4         5        Engine

In [8]:
cl_status.columns

Index(['statusId', 'status'], dtype='object')

In [9]:
cl_status.statusId.nunique()

139

In [10]:
cl_status.shape

(139, 2)

In [11]:
cl_status.to_csv('cl_status.csv',index=False)