In [19]:
import pandas as pd

In [20]:
circuits = pd.read_csv('/Users/rahul/Desktop/archive/cleaned_circuits.csv')

In [21]:
circuits.head()

,circuitId,circuit_name,circuit_location,circuit_country,circuit_nationality
0,1,Albert Park Grand Prix Circuit,Melbourne,Australia,Australian
1,2,Sepang International Circuit,Kuala Lumpur,Malaysia,Malaysian
2,3,Bahrain International Circuit,Sakhir,Bahrain,Bahraini
3,4,Circuit de Barcelona-Catalunya,Montmel贸,Spain,Spanish
4,5,Istanbul Park,Istanbul,Turkey,Turkish

In [22]:
circuits.shape

(77, 5)

In [23]:
circuits.circuit_country.nunique()

34

In [24]:
circuits.circuit_nationality.nunique()

34

In [25]:
circuits.drop(columns=['circuit_nationality','circuit_name'],inplace=True)
circuits.head()

   circuitId circuit_location circuit_country
0          1        Melbourne       Australia
1          2     Kuala Lumpur        Malaysia
2          3           Sakhir         Bahrain
3          4         Montmel贸           Spain
4          5         Istanbul          Turkey

In [26]:
circuits.circuitId.nunique()

77

In [27]:
circuits.circuit_country.unique()

array(['Australia', 'Malaysia', 'Bahrain', 'Spain', 'Turkey', 'Monaco',
       'Canada', 'France', 'UK', 'Germany', 'Hungary', 'Belgium', 'Italy',
       'Singapore', 'Japan', 'China', 'Brazil', 'USA', 'UAE', 'Argentina',
       'Portugal', 'South Africa', 'Mexico', 'Korea', 'Netherlands',
       'Sweden', 'Austria', 'Morocco', 'Switzerland', 'India', 'Russia',
       'Azerbaijan', 'Saudi Arabia', 'Qatar'], dtype=object)