In [3]:
import pandas as pd

In [4]:
constructor_res = pd.read_csv('/Users/rahul/Desktop/archive/cleaned_constructor_results.csv')
constructor_res.head()

   constructorResultsId  raceId  constructorId  points
0                     1      18              1    14.0
1                     2      18              2     8.0
2                     3      18              3     9.0
3                     4      18              4     5.0
4                     5      18              5     2.0

In [12]:
constructor_res.shape

(12290, 4)

In [5]:
constructor_res.loc[constructor_res['constructorId']== constructor_res['constructorResultsId']].count()

constructorResultsId    11
raceId                  11
constructorId           11
points                  11
dtype: int64

In [7]:
constructor_res.shape

(12290, 4)

In [9]:
constructor_res.constructorResultsId.nunique()

12290

In [10]:
constructor_res.constructorId.nunique()

175

In [11]:
constructor_res.raceId.nunique()

1028