In [2]:
import pandas as pd

In [3]:
constructor_stand = pd.read_csv('/Users/rahul/Desktop/archive/cleaned_constructor_standings.csv')
constructor_stand.head()

   constructorStandingsId  raceId  constructorId  points  position  wins
0                       1      18              1    14.0         1     1
1                       2      18              2     8.0         3     0
2                       3      18              3     9.0         2     0
3                       4      18              4     5.0         4     0
4                       5      18              5     2.0         5     0

In [10]:
constructor_stand.shape

(13051, 6)

In [4]:
constructor_stand.loc[(constructor_stand['position']!=1) & constructor_stand['wins']==1]

       constructorStandingsId  raceId  constructorId  points  position  wins
11                         12      19              6    11.0         3     1
17                         18      20              1    28.0         3     1
28                         29      21              1    34.0         3     1
39                         40      22              1    42.0         3     1
62                         63      24              2    70.0         2     1
...                       ...     ...            ...     ...       ...   ...
12740                   28162    1076              9    55.0         3     1
12760                   28182    1078              9   151.0         2     3
12801                   28233    1083              6   265.0         2     3
12912                   28384    1095            131   505.0         3     1
12922                   28394    1096            131   515.0         3     1

[1274 rows x 6 columns]

In [5]:
constructor_stand.shape

(13051, 6)

In [6]:
constructor_stand

       constructorStandingsId  raceId  constructorId  points  position  wins
0                           1      18              1    14.0         1     1
1                           2      18              2     8.0         3     0
2                           3      18              3     9.0         2     0
3                           4      18              4     5.0         4     0
4                           5      18              5     2.0         5     0
...                       ...     ...            ...     ...       ...   ...
13046                   28568    1110            214    57.0         6     0
13047                   28569    1110              3    11.0         7     0
13048                   28570    1110            213     3.0        10     0
13049                   28571    1110            210    11.0         8     0
13050                   28572    1110              1   103.0         5     0

[13051 rows x 6 columns]

In [11]:
constructor_stand.columns

Index(['constructorStandingsId', 'raceId', 'constructorId', 'points',
       'position', 'wins'],
      dtype='object')

In [14]:
constructor_stand.position.unique()

array([ 1,  3,  2,  4,  5,  6,  8,  7,  9, 10, 11, 12, 13, 14, 15, 18, 17,
       16, 19, 20, 21, 22])

In [15]:
constructor_stand.wins.unique()

array([ 1,  0,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       18, 17, 19])

In [7]:
constructor_stand.constructorId.nunique()

159

In [8]:
constructor_stand.raceId.nunique()

1027

In [9]:
constructor_stand.constructorStandingsId.nunique()

13051