In [2]:
import pandas as pd

In [4]:
constructors = pd.read_csv('/Users/rahul/Desktop/archive/cleaned_constructors.csv')
constructors.head()

   constructorId constructor_name constructor_nationality constructor_home
0              1          McLaren                 British               UK
1              2       BMW Sauber                  German          Germany
2              3         Williams                 British               UK
3              4          Renault                  French           France
4              5       Toro Rosso                 Italian            Italy

In [6]:
constructors.constructorId.nunique()

211

In [7]:
constructors.shape

(211, 4)