In [2]:
import pandas as pd

In [3]:
drivers = pd.read_csv('/Users/rahul/Desktop/archive/cleaned_drivers.csv')
drivers.head()

,driverId,driver_code,driver_forename,driver_surname,driver_dob,driver_nationality,driver_home
0,1,HAM,Lewis,Hamilton,1985-01-07,British,UK
1,2,HEI,Nick,Heidfeld,1977-05-10,German,Germany
2,3,ROS,Nico,Rosberg,1985-06-27,German,Germany
3,4,ALO,Fernando,Alonso,1981-07-29,Spanish,Spain
4,5,KOV,Heikki,Kovalainen,1981-10-19,Finnish,Finland

In [4]:
drivers.driverId.nunique()

857

In [5]:
drivers.shape

(857, 7)