In [2]:
import pandas as pd

In [3]:
driver_stand = pd.read_csv('/Users/rahul/Desktop/archive/cleaned_driver_standings.csv')
driver_stand.head()

   driverStandingsId  raceId  driverId  points  position  wins
0                  1      18         1    10.0         1     1
1                  2      18         2     8.0         2     0
2                  3      18         3     6.0         3     0
3                  4      18         4     5.0         4     0
4                  5      18         5     4.0         5     0

In [4]:
driver_stand.shape

(34124, 6)

In [5]:
driver_stand.raceId.nunique()

1091

In [6]:
driver_stand.driverId.nunique()

850

In [7]:
driver_stand.driverStandingsId.nunique()

34124