In [1]:
import pandas as pd

In [2]:
lap_tm = pd.read_csv('/Users/rahul/Desktop/archive/cleaned_lap_times.csv')
lap_tm.head()

   raceId  driverId  lap  position                lap_time
0     841        20    1         1  0 days 00:01:38.109000
1     841        20    2         1  0 days 00:01:33.006000
2     841        20    3         1  0 days 00:01:32.713000
3     841        20    4         1  0 days 00:01:32.803000
4     841        20    5         1  0 days 00:01:32.342000

In [5]:
lap_tm.shape

(551742, 5)

In [4]:
lap_tm.driverId.nunique()

139

In [6]:
lap_tm.raceId.nunique()

510