In [2]:
import pandas as pd

In [3]:
pit_stops = pd.read_csv('/Users/rahul/Desktop/archive/cleaned_pit_stops.csv')
pit_stops.head()

   raceId  driverId  stop  lap  milliseconds
0     841       153     1    1         26898
1     841        30     1    1         25021
2     841        17     1   11         23426
3     841         4     1   12         23251
4     841        13     1   13         23842

In [4]:
pit_stops.shape

(10089, 5)

In [5]:
pit_stops.raceId.nunique()

251

In [6]:
pit_stops.driverId.nunique()

72