In [2]:
import pandas as pd

In [3]:
qual = pd.read_csv('/Users/rahul/Desktop/archive/cleaned_qualifying.csv')
qual.head()

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
0,1,18,1,1,22,1,0 days 00:01:26.572000,0 days 00:01:25.187000,0 days 00:01:26.714000
1,2,18,9,2,4,2,0 days 00:01:26.103000,0 days 00:01:25.315000,0 days 00:01:26.869000
2,3,18,5,1,23,3,0 days 00:01:25.664000,0 days 00:01:25.452000,0 days 00:01:27.079000
3,4,18,13,6,2,4,0 days 00:01:25.994000,0 days 00:01:25.691000,0 days 00:01:27.178000
4,5,18,2,2,3,5,0 days 00:01:25.960000,0 days 00:01:25.518000,0 days 00:01:27.236000

In [4]:
qual.shape

(9815, 9)

In [5]:
qual.dtypes

qualifyId         int64
raceId            int64
driverId          int64
constructorId     int64
number            int64
position          int64
q1               object
q2               object
q3               object
dtype: object

In [6]:
qual.driverId.nunique()

168

In [7]:
qual.raceId.nunique()

460

In [8]:
qual.constructorId.nunique()

46

In [9]:
qual.qualifyId.nunique()

9815