In [2]:
import pandas as pd

In [3]:
sprints = pd.read_csv('/Users/rahul/Desktop/archive/cleaned_sprint_results.csv')
sprints.head()

,resultId,raceId,driverId,constructorId,grid_position,position,points,laps,fastestLap,fastestLapTime,statusId,fastestLapRank
0,1,1061,830,9,2,1,3,17,14,0 days 00:01:30.013000,1,3
1,2,1061,1,131,1,2,2,17,17,0 days 00:01:29.937000,1,1
2,3,1061,822,131,3,3,1,17,17,0 days 00:01:29.958000,1,2
3,4,1061,844,6,4,4,0,17,16,0 days 00:01:30.163000,1,4
4,5,1061,846,1,6,5,0,17,16,0 days 00:01:30.566000,1,5

In [4]:
sprints.shape

(180, 12)

In [5]:
sprints.resultId.nunique()

180

In [6]:
sprints.raceId.nunique()

9

In [7]:
sprints.driverId.nunique()

28

In [8]:
sprints.constructorId.nunique()

10

In [9]:
sprints.statusId.nunique()

6