In [1]:
import pandas as pd

In [2]:
status = pd.read_csv('/Users/rahul/Desktop/archive/cleaned_status.csv')
status.head()

   statusId        status
0         1      Finished
1         2  Disqualified
2         3      Accident
3         4     Collision
4         5        Engine

In [4]:
status.statusId.nunique()

139

In [5]:
status.shape

(139, 2)